<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">

<dom-module id="my-card">
    <template>
        <style include="global-styles app-styles">
            :host {
                position: relative;
            }

            :host([ratio])::before {
                display: block;
                content: '';
                box-sizing: border-box;
            }

            :host([ratio="1:1"])::before {
                padding-bottom: 100%;
            }

            :host([ratio="3:2"])::before {
                padding-bottom: 66%;
            }

            :host([ratio="4:3"])::before {
                padding-bottom: 75%;
            }

            :host([ratio="8:5"])::before {
                padding-bottom: 62.5%;
            }

            :host([ratio="16:9"])::before {
                padding-bottom: 56.25%;
            }

            /* Rows */

            :host([rows="2"]) {
                grid-row: span 2;
            }

            /* Columns */

            /* Hack for grid span not wrapping */
            @media only screen and (min-width: 687px) {
                :host([columns="2"]) {
                    grid-column: span 2;
                }
            }

            :host([ratio]) .reset {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            paper-card {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            paper-card ::slotted(.card-title) {
                padding: 2rem;
            }

            paper-card ::slotted(.card-content) {
                display: flex;
                flex-grow: 1;
                padding: 2rem;
                max-height: 100%;
            }

            .card-title {
                display: flex;
            }
        </style>
        <div class="reset">
            <a href="[[href]]">
                <paper-card>
                    <template is="dom-if" if="[[collapse]]">
                        <div class="card-title">
                            <div class="flex grow align-center">
                                <slot name="title"></slot>
                            </div>
                            <div class="flex align-center justify-end">
                                <paper-icon-button icon="icons:arrow-drop-down" on-click="collapseElement"></paper-icon-button>
                            </div>
                        </div>
                        <iron-collapse id="collapse">
                            <div class="card-content">
                                <slot name="content"></slot>
                            </div>
                        </iron-collapse>
                    </template>
                    <slot name="content"></slot>
                    <slot></slot>
                </paper-card>
            </a>
        </div>
    </template>
    <script>
        class MyCard extends Polymer.Element {
            static get is() {
                return 'my-card';
            }

            static get properties() {
                return {
                    collapse: {
                        type: Boolean,
                        value: false
                    },
                    href: {
                        type: String
                    },
                    href: {
                        type: String
                    },
                    ratio: {
                        type: String,
                        reflectToAttribute: true
                    },
                    title: {
                        type: String
                    }
                }
            }

            collapseElement(e) {
                console.log(e);
                console.log(this);
                // this.$.collapse.toggle();
                this.shadowRoot.querySelector("iron-collapse").toggle();
            }

            ready() {
                super.ready();
                if (this.href) {
                    this.addEventListener('click', this._onClick);
                }
            }

            _onClick() {
                Application.Controller.set("__path", this.href);
            }
        }

        window.customElements.define(MyCard.is, MyCard);
    </script>
</dom-module>
