<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<dom-module id="my-data">
    <template>
        <style></style>
    </template>
    <script>
        (function () {
            class MyData extends Polymer.Element {
                static get is() {
                    return 'my-data';
                }

                static get properties() {
                    return {
                        data: {
                            type: Object,
                        }
                    }
                }

                connectedCallback() {
                    super.connectedCallback();

                    this.data = data;
                }
            }

            let data = {
                routes: {

                }
            };

            window.customElements.define(MyData.is, MyData);
        })();
    </script>
</dom-module>