<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../x-element.html">

<link rel="import" href="../../../../bower_components/google-apis/google-maps-api.html">

<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../bower_components/iron-meta/iron-meta.html">

<link rel="import" href="x-state.html">

<link rel="import" href="../../app-style.html">
<link rel="import" href="../v.1.1.1/LocationMixin.html">

<dom-module id="my-address">
    <template>
        <style include="app-style">
            :host {
                @apply(--layout-vertical);
                @apply(--layout-flex);
            }
        </style>

        <google-maps-api id="map-api" api-key="AIzaSyCBAWWZHNX-gLrnIweoezSmpIjLEN7antk" version="3.exp" on-api-load="mapApiLoaded"></google-maps-api>

        <paper-input id="locate" placeholder="[[state.location.city]], [[state.location.state]]" type="text">
            <iron-icon icon="room" slot="suffix" on-click="locate"></iron-icon>
        </paper-input>

        <x-state id="state" data="{{state}}"></x-state>
    </template>

    <script>
        class MyLocation extends LocationMixin(Polymer.MutableData(XElement)) {
            static get is() {
                return 'my-address';
            }

            static get properties() {
                return {
                    app: {
                        type: Object,
                        value: function() {
                            return App;
                        },
                        notify: true
                    },
                    scope: {
                        type: Object,
                        notify: true
                    },
                    state: {
                        type: Object,
                        notify: true
                    },
                    data: {
                        type: Object,
                        value: {
                            city: "Port Chester",
                            state: "New York"
                        },
                        notify: true
                    }
                }
            }

            ready() {
                super.ready();
                // this.state = this.$.state.data;
                // this.$.state.location = this.data;
            }

            connectedCallback() {
                super.connectedCallback();
                // this.state = this.shadowRoot.querySelector('x-state').data;
                // this.state = this.$.state.data;
            }

            _autocomplete() {
                var locate = this.$.locate;
                var t = this;
                var autocomplete = new google.maps.places.Autocomplete(locate);

                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var result = autocomplete.getPlace();
                    t.setLocation(result);
                });
            }

            locate() {
                var scope = this.scope;
                var location = this.scope.location;
                var locate = this;

                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var geocoder = new google.maps.Geocoder();
                        var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                        geocoder.geocode({'latLng': geolocate}, function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                var result;
                                if (results.length > 1) {
                                    result = results[1];
                                } else {
                                    result = results[0];
                                }

                                locate.setLocation(result);
                            }
                        });
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

            setLocation(result) {
                var _location = {};

                _location.latitude = result.geometry.location.lat();
                _location.longitude = result.geometry.location.lng();

                for (var i = 0; i < result.address_components.length; i++) {
                    if (result.address_components[i].types[0] == 'locality') {
                        _location.city = result.address_components[i].long_name;
                    }

                    if (result.address_components[i].types[0] == 'administrative_area_level_1') {
                        _location.state = result.address_components[i].long_name;
                    }
                }

                // this.set('data.location', _location);
                // Fix imperitively set components
                // App.notifyPath('data');

                this.set('location.latitude', _location.latitude);
                this.set('location.longitude', _location.longitude);
                this.set('location.city', _location.city);
                this.set('location.state', _location.state);
                // this.set('location', _location);

                // App.set('data.location', _location);
                // this.scope.set('data.location', _location);
                // this.scope.notifyPath('data.location');
            }

            mapApiLoaded() {
                this._autocomplete();
            }
        }

        window.customElements.define(MyLocation.is, MyLocation);
    </script>
</dom-module>
