<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="us-census-api">
    <script>
        class UsCensus extends Polymer.Element {
            static get is() {
                return 'us-census-api';
            }

            static get properties() {
                return {
                    baseUrl: {
                        type: String,
                        value: 'https://api.census.gov/data/2016/pep/population'
                    },
                    stateCodes: {
                        type: Array,
                        value: [
                            {
                                shortName: "NJ",
                                longName: "New Jersey",
                                code: 34
                            },
                            {
                                shortName: "",
                                longName: "New York",
                                code: 36
                            }
                        ]
                    },
                    parameters: {
                        type: Object,
                        value: {
                            get: ["POP","GEONAME"],
                            for: "state:" + this.stateCode
                        }
                    },
                    response: {
                        type: Object
                    }
                }
            }

            static get observers() {
                return []
            }
        }
        window.customElements.define(UsCensus.is, UsCensus);
    </script>
</dom-module>
