[submodule "src/components/my-debug"]
	path = src/components/my-debug
	url = https://github.com/anoblet/my-debug.git
[submodule "src/components/my-singleton"]
	path = src/components/my-singleton
	url = https://github.com/anoblet/my-singleton.git
[submodule "src/components/paper-input"]
	path = src/components/paper-input
	url = https://github.com/anoblet/paper-input.git
[submodule "src/components/x-grid"]
	path = src/components/x-grid
	url = https://github.com/anoblet/x-grid.git
[submodule "src/components/app-menu"]
	path = src/components/app-menu
	url = https://github.com/anoblet/app-menu.git
[submodule "src/components/custom-element"]
	path = src/components/custom-element
	url = https://github.com/anoblet/custom-element.git
