<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/my-grid/my-grid.html">
<link rel="import" href="../../../../lib/map-property/map-property.html">
<link rel="import" href="../../../components/my-card/my-card.html">
<link rel="import" href="../../../components/fact-finder/fact-finder-state.html">
<link rel="import" href="../../../components/app-data.html">
<link rel="import" href="../../../components/select-state.html">
<link rel="import" href="../charts/chart-bar-gender.html">
<link rel="import" href="../charts/chart-map-state.html">
<link rel="import" href="../charts/chart-pie-gender.html">
<link rel="import" href="../charts/chart-pie-terrain.html">
<link rel="import" href="../charts/chart-text-population.html">

<dom-module id="page-state">
    <template>
        <style include="global-styles app-styles"></style>
        <app-data data="{{data}}"></app-data>
        <map-property source="{{data.location.state.name}}" target="{{name}}"></map-property>
        <map-property source="[[data.configuration.cardRatio]]" target="{{cardRatio}}"></map-property>
        <fact-finder-state name="{{name}}" geography-id="{{geographyId}}"></fact-finder-state>
        <my-grid>
            <my-card ratio="[[cardRatio]]" href="javascript:history.back()">
                <div class="card-content center">
                    <paper-icon-button icon="arrow-back" noink></paper-icon-button>
                </div>
            </my-card>
            <template is="dom-if" if="[[selectState]]">
                <my-card ratio="[[cardRatio]]">
                    <div class="card-content flex-center">
                        <select-state name="{{name}}" geography-id="{{geographyId}}"></select-state>
                    </div>
                </my-card>
            </template>
            <my-card ratio="[[cardRatio]]">
                <div class="card-content">
                    <chart-map-state name="[[name]]"></chart-map-state>
                </div>
            </my-card>
            <my-card ratio="[[cardRatio]]">
                <div class="card-title">Population</div>
                <div class="card-content flex-center">
                    <chart-text-population geography-id="[[geographyId]]"></chart-text-population>
                </div>
                <div class="card-actions">
                    <paper-button>
                        Button
                    </paper-button>
                </div>
            </my-card>
            <my-card ratio="[[cardRatio]]">
                <div class="card-title">Terrain</div>
                <div class="card-content">
                    <chart-pie-terrain geography-id="{{geographyId}}"></chart-pie-terrain>
                </div>
            </my-card>
            <my-card ratio="[[cardRatio]]">
                <div class="card-title">Gender</div>
                <div class="card-content">
                    <chart-pie-gender geography-id="[[geographyId]]"></chart-pie-gender>
                </div>
            </my-card>
            <my-card ratio="[[cardRatio]]" rows="2" columns="2">
                <div class="card-title">Gender by Age</div>
                <div class="card-content">
                    <chart-bar-gender geography-id="[[geographyId]]"></chart-bar-gender>
                </div>
            </my-card>
            <my-card ratio="[[cardRatio]]">
                <div class="card-content">
                    Placeholder
                </div>
            </my-card>
            <my-card ratio="[[cardRatio]]">
                <div class="card-content">
                    Placeholder
                </div>
            </my-card>
            <my-card ratio="[[cardRatio]]">
                <div class="card-content">
                    Placeholder
                </div>
            </my-card>
        </my-grid>
    </template>
    <script>
        class PageState extends Polymer.Element {
            static get is() {
                return 'page-state';
            }

            static get properties() {
                return {
                    columns: {
                        type: Number,
                        value: 3
                    },
                    geographyId: {
                        type: String
                    },
                    selectState: {
                        type: Boolean,
                        value: true
                    }
                }
            }

            static get observers() {
                return [
                    "_columnsChanged(columns)"
                ]
            }

            _columnsChanged(columns) {
                columns = columns + 1;
            }
        }

        window.customElements.define(PageState.is, PageState);
    </script>
</dom-module>
