<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../bower_components/my-grid/my-grid.html">
<link rel="import" href="../../../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../../../bower_components/paper-swatch-picker/paper-swatch-picker.html">
<link rel="import" href="../../../../lib/map-property/map-property.html">
<link rel="import" href="../../../components/app-data.html">
<link rel="import" href="../../../components/my-card/my-card.html">
<link rel="import" href="../../../components/select-state.html">
<link rel="import" href="../../../components/settings-color.html">

<dom-module id="page-settings">
    <template>
        <style include="global-styles app-styles">
            :host {
                background: var(--primaryColor);
            }
        </style>
        <app-data data="{{data}}"></app-data>
        <map-property source="{{data.configuration}}" target="{{configuration}}"></map-property>
        <map-property source="{{data.configuration.toolbar}}" target="{{toolbar}}"></map-property>
        <map-property source="{{data.configuration.menu}}" target="{{menu}}"></map-property>
        <map-property source="{{data.configuration.cardRatio}}" target="{{cardRatio}}"></map-property>
        <map-property source="{{data.configuration.primaryColor}}" target="{{primaryColor}}"></map-property>
        <my-grid>
            <my-card>
                <div class="card-title">Settings</div>
                <div class="card-content">
                    <div class="grid" style="width: 100%;">
                        <div>
                            <paper-dropdown-menu label="Toolbar Placement">
                                <paper-listbox slot="dropdown-content" selected="{{toolbar}}">
                                    <paper-item>Top</paper-item>
                                    <paper-item>Bottom</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>
                        </div>
                        <div>
                            <paper-dropdown-menu label="Menu Placement">
                                <paper-listbox slot="dropdown-content" selected="{{menu}}">
                                    <paper-item>Left</paper-item>
                                    <paper-item>Right</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>
                        </div>
                        <div>
                            <paper-checkbox checked="{{advanced}}">Advanced</paper-checkbox>
                        </div>
                        <template is="dom-if" if="[[advanced]]">
                            <div>
                                <paper-dropdown-menu label="Card ratio" selected-item-label="{{cardRatio}}">
                                    <paper-listbox slot="dropdown-content">
                                        <paper-item>1:1</paper-item>
                                        <paper-item>3:2</paper-item>
                                        <paper-item>4:3</paper-item>
                                    </paper-listbox>
                                </paper-dropdown-menu>
                            </div>
                            Primary Color: <paper-swatch-picker color="{{primaryColor}}"></paper-swatch-picker>
                        </template>
                    </div>
                </div>
            </my-card>
            <my-card gen2>
                <div slot="title">Colors</div>
                <div slot="content">
                    <settings-color primary-color="{{primaryColor}}"></settings-color>
                </div>
            </my-card>
            <my-card>
                <div class="card-title">Location Settings</div>
                <div class="card-content">
                    <select-state></select-state>
                </div>
            </my-card>
        </my-grid>
    </template>
    <script>
        class PageSettings extends Polymer.MutableData(Polymer.Element) {
            static get is() {
                return 'page-settings';
            }

            static get properties() {
                return {
                    primaryColor: {
                        type: 'String',
                        // observer: '_primaryColorChanged'
                    },
                    configuration: {
                        type: Object
                    },
                    toolbar: {
                        type: String,
                        value: 0,
                        notify: true
                    },
                    menu: {
                        type: String,
                        value: 0,
                        notify: true
                    },
                    cardRatio: {
                        type: String,
                        value: "3:2",
                        notify: true
                    },
                    advanced: {
                        type: Boolean,
                        value: true
                    }
                }
            }

            static get observers() {
                return []
            }

            _primaryColorChanged(color) {
                let style = {};
                style['--color-primary'] = color;
                this.dispatchEvent(new CustomEvent('styleChanged', {bubbles: true, composed: true, detail: style}));
            }

            ready() {
                super.ready();
                this.configuration = this.configuration || {};
            }
        }

        window.customElements.define(PageSettings.is, PageSettings);
    </script>
</dom-module>
