<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../components/google-chart-responsive/google-chart-responsive.html">
<link rel="import" href="../../../components/fact-finder/fact-finder.html">
<!--<link rel="import" href="../../../components/fact-finder/fact-finder-adapter.html">-->
<link rel="import" href="../../../components/fact-finder/fact-finder-tables.html">
<link rel="import" href="../../../components/my-card/my-card.html">
<link rel="import" href="../../../../bower_components/my-grid/my-grid.html">
<link rel="import" href="../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../bower_components/neon-animation/web-animations.html">

<dom-module id="page-data">
    <template>
        <style include="global-styles app-styles">
            :host {
                width: 100%;
            }

            my-grid {
                grid-template-columns: auto;
            }
        </style>
        <my-grid>
            <my-card>
                <div class="card-content">
                    <paper-input label="Geography ID" value="{{geographyId}}"></paper-input>
                    <paper-dropdown-menu label="Table" selected-item-label="{{table}}">
                        <paper-listbox slot="dropdown-content">
                            <template is="dom-repeat" items="[[tables]]">
                                <paper-item>[[item.id]]</paper-item>
                            </template>
                        </paper-listbox>
                    </paper-dropdown-menu>
                    <paper-dropdown-menu label="Chart Type" selected-item-label="{{chartType}}">
                        <paper-listbox slot="dropdown-content">
                            <template is="dom-repeat" items="[[chartTypes]]">
                                <paper-item>[[item]]</paper-item>
                            </template>
                        </paper-listbox>
                    </paper-dropdown-menu>
                </div>
            </my-card>
            <my-card ratio="1:1">
                <div class="card-title">[[currentTable]]</div>
                <div class="card-content">
                    <google-chart-responsive type="[[chartType]]" options="[[chartOptions]]" data="[[chartData]]"></google-chart-responsive>
                </div>
            </my-card>
        </my-grid>
        <fact-finder program="DEC" _dataset="10_SF1" table="[[table]]" geography-id="[[geographyId]]" key="c97423c3f598951d2138d69861730b9154cd7230" response="{{response}}"></fact-finder>
        <fact-finder-tables tables="{{tables}}"></fact-finder-tables>
        <!--<fact-finder-adapter input="[[response]]" output="{{data}}"></fact-finder-adapter>-->
    </template>
    <script>
        class PageData extends Polymer.Element {
            static get is() {
                return 'page-data';
            }

            static get properties() {
                return {
                    chartData: {
                        type: Array,
                    },
                    chartOptions: {
                        type: Object
                    },
                    chartType: {
                        type: String,
                        observer: '_chartType',
                        value: 'table'
                    },
                    chartTypes: {
                        type: Array,
                        value: function () {
                            return [
                                "area",
                                "bar",
                                "bubble",
                                "geo",
                                "pie",
                                "table"
                            ]
                        }
                    },
                    currentTable: {
                        type: String,
                        value: "Population"
                    },
                    geographyId: {
                        type: String,
                        value: "0100000US.04000"
                    },
                    response: {
                        type: Object,
                        observer: '_responseChanged'
                    },
                    table: {
                        type: String,
                        value: "P1",
                        observer: '_tableChanged'
                    }
                }
            }

            _chartType(type) {
                if (type == "geo") {
                    this.chartOptions = {
                        region: "US",
                        resolution: "provinces",
                        defaultColor: '#90caf9'
                    }
                }
                else {
                    this.chartOptions = {};
                }
            }

            _responseChanged(response) {
                let data = response.data;
                console.log(response);
                if (data) ;
                else {
                    return;
                }
                let headerCells = data.header.cells;
                let rows = data.rows;

                let newData = [];
                let newRow = [];
                newRow.push("Location");
                for (let header in headerCells) {
                    let categories = headerCells[header].categories;
                    for (let category in categories) {
                        newRow.push(categories[category].label);
                    }
                }
                newData.push(newRow);

                for (let row in rows) {
                    let newDataRow = []
                    let newRow = rows[row];
                    newDataRow.push(newRow.categories.GEO.label);
                    for (let cell in newRow.cells) {
                        let newCell = newRow.cells[cell];
                        newDataRow.push(newCell.value);
                    }
                    newData.push(newDataRow);
                }

                // newData.push(headers);
                // newData.push(data);

                console.log(newData);

                this.chartData = newData;
            }

            _tableChanged(table) {
                console.log(table);
                if (this.tables) {
                    for (let i = 0; i < this.tables.length; i++) {
                        if (this.tables[i].id == this.table) {
                            this.currentTable = this.tables[i].label;
                        }
                    }
                }
            }
        }

        window.customElements.define(PageData.is, PageData);
    </script>
</dom-module>
