<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../../../bower_components/my-grid/my-grid.html">
<link rel="import" href="../../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../components/google-chart-responsive/google-chart-responsive.html">
<link rel="import" href="../../../components/fact-finder/fact-finder.html">
<link rel="import" href="../../../components/fact-finder/fact-finder-tables.html">
<link rel="import" href="../../../components/my-card/my-card.html">
<link rel="import" href="../../../components/state-select.html">
<link rel="import" href="../../../components/summary-select.html">
<link rel="import" href="../../../components/program-select.html">
<link rel="import" href="../../../components/data-select.html">
<link rel="import" href="../../../components/table-select.html">

<dom-module id="page-data">
    <template>
        <style include="global-styles app-styles">
            :host {
                width: 100%;
            }

            my-grid {
                grid-template-columns: auto;
            }

            my-card .card-content {
                height: 100%;
            }

            #columns {
                /*display: grid;*/
                /*grid-template-columns: repeat(auto-fill, minmax(16.5%, 1fr));*/
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                /*overflow: auto;*/
            }

            #columns > * {
                display: flex;
                width: 16.5%;
            }

            #columns paper-item > span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            iron-collapse {
                width: 100%;
            }
        </style>
        <my-grid>
            <my-card>
                <div class="card-content flex justify-around">
                    <paper-input label="Geography ID" value="{{geographyId}}"></paper-input>
                    <summary-select level="{{geographyId}}"></summary-select>
                    <template is="dom-if" if="[[_isSummaryLevel(geographyId, 'state')]]">
                        <state-select geography-id="{{geographyId}}"></state-select>
                    </template>
                    <program-select program="{{program}}"></program-select>
                    <data-select program="{{program}}" _dataset="{{_dataset}}"></data-select>
                    <table-select program="{{program}}" _dataset="{{_dataset}}" table="{{table}}"></table-select>
                    <paper-dropdown-menu label="Chart Type" selected-item-label="{{chartType}}">
                        <paper-listbox slot="dropdown-content" selected="{{chartTypeIndex}}">
                            <template is="dom-repeat" items="[[chartTypes]]">
                                <paper-item>[[item]]</paper-item>
                            </template>
                        </paper-listbox>
                    </paper-dropdown-menu>
                </div>
            </my-card>
            <my-card>
                <div class="card-title flex">
                    <div class="flex align-center">
                        Columns
                    </div>
                    <div class="flex grow align-center justify-end">
                        <paper-icon-button icon="icons:arrow-drop-down" on-click="collapseColumns"></paper-icon-button>
                    </div>
                </div>
                <iron-collapse id="columnsCollapse">
                    <div class="card-content">
                        <paper-listbox id="columns" multi selected-values="{{selectedColumns}}">
                            <template is="dom-repeat" items="[[chartColumns]]">
                                <paper-item class="">
                                    <span>[[item.label]]</span>
                                    <paper-tooltip>[[item.label]]</paper-tooltip>
                                </paper-item>
                            </template>
                        </paper-listbox>
                    </div>
                    <div class="card-actions">
                        <paper-button>Select All</paper-button>
                    </div>
                </iron-collapse>
            </my-card>
            <my-card ratio="1:1">
                <div class="card-title">[[currentTableLabel]]</div>
                <div class="card-content">
                    <!--<google-chart-responsive type="[[chartType]]" options="[[chartOptions]]" cols="[[chartColumns]]" rows="[[chartRows]]"></google-chart-responsive>-->
                    <google-chart-responsive type="[[chartType]]" options="[[chartOptions]]" data="[[chartData]]"></google-chart-responsive>
                </div>
            </my-card>
        </my-grid>
        <fact-finder program="[[program]]" _dataset="[[_dataset]]" table="[[table]]" geography-id="[[geographyId]]" key="c97423c3f598951d2138d69861730b9154cd7230" response="{{response}}"></fact-finder>
        <!--<fact-finder-tables tables="{{tables}}"></fact-finder-tables>-->
        <!--<fact-finder-adapter input="[[response]]" output="{{data}}"></fact-finder-adapter>-->
    </template>
    <script>
        class PageData extends Polymer.Element {
            static get is() {
                return 'page-data';
            }

            static get properties() {
                return {
                    _dataset: {
                        type: String,
                        value: "10_SF1"
                    },
                    chartColumns: {
                        type: Array,
                    },
                    chartData: {
                        type: Array,
                    },
                    chartOptions: {
                        type: Object
                    },
                    chartType: {
                        type: String,
                        observer: '_chartType',
                        value: 'table'
                    },
                    chartTypeIndex: {
                        type: Number,
                        observer: '_chartTypeIndexChanged',
                        value: 7
                    },
                    chartTypes: {
                        type: Array,
                        value: function () {
                            return [
                                'area',
                                'bar',
                                'bubble',
                                'candlestick',
                                'column',
                                // 'donut',
                                'geo',
                                'pie',
                                'table'
                            ]
                        }
                    },
                    currentTable: {
                        type: String,
                        value: "Population"
                    },
                    currentTableIndex: {
                        type: Number,
                        observer: '_currentTableIndexChanged',
                        value: 74
                    },
                    currentTableId: {
                        type: String,
                    },
                    currentTableLabel: {
                        type: String,
                    },
                    geographyId: {
                        type: String,
                        value: "0100000US.04000"
                    },
                    program: {
                        type: String,
                        value: "DEC"
                    },
                    response: {
                        type: Object,
                        observer: '_responseChanged'
                    },
                    selectedColumns: {
                        type: Array,
                        observer: '_selectedColumnsChanged'
                    },
                    table: {
                        type: String,
                        value: "P1"
                    },
                    tables: {
                        type: Array,
                        observer: '_tablesChanged'
                    }
                }
            }

            static get observers() {
                return [
                    '_selectedColumnsChanged(selectedColumns.splices)'
                ]
            }

            _chartType(type) {
                if (type == "geo") {
                    this.chartOptions = {
                        region: "US",
                        resolution: "provinces",
                        defaultColor: '#90caf9'
                    }
                }
                else {
                    this.chartOptions = {
                        legend: {
                            alignment: 'center',
                            position: 'top',
                        },
                        // width: '100%'
                    };
                }
            }

            _chartTypeIndexChanged(index) {

            }

            collapseColumns() {
                this.$.columnsCollapse.toggle();
            }

            _currentTableIndexChanged(index) {
                console.log(index);
                console.log(this.tables);
                if (this.tables) {
                    let table = this.tables[index];
                    this.currentTableId = table.id;
                    this.currentTableLabel = table.label;
                    console.log(this.tables[index]);
                }
            }

            _isSummaryLevel(summaryLevel, level) {
                console.log(level);
                return (summaryLevel === level);
            }

            _responseChanged(response) {
                console.log(response);
                if (response.data) {
                }
                // No data
                else {
                    return;
                }
                let data = response.data;
                // console.log(data);
                let dataColumns = data.header.cells;
                let dataRows = data.rows;

                let newData = [];
                let columns = [];
                let newRow = [];
                newRow.push("Location");
                columns.push({type: "string", label: "Location"});
                // let selectedItems = [];
                // let index = 0;
                for (let header in dataColumns) {
                    let categories = dataColumns[header].categories;
                    let type = dataColumns[header].valueType;
                    for (let category in categories) {
                        let column = {};
                        column.type = type;
                        column.label = categories[category].label;
                        newRow.push(categories[category].label);
                        columns.push(column);
                    }
                }
                this.dataColumns = columns;
                this.chartColumns = columns;

                let numberOfColumns = Object.keys(dataColumns).length;
                // console.log("Number of columns: ", numberOfColumns);
                let selectedColumns = Array.apply(null, {length: numberOfColumns}).map(Number.call, Number);
                // this.selectedColumns = selectedColumns;

                newData.push(newRow);

                let rows = [];

                for (let row in dataRows) {
                    let newDataRow = []
                    let newRow = dataRows[row];
                    newDataRow.push(newRow.categories.GEO.label);
                    for (let cell in newRow.cells) {
                        let newCell = newRow.cells[cell];
                        newDataRow.push(newCell.value);
                    }
                    newData.push(newDataRow);
                    rows.push(newDataRow);
                }

                this.dataRows = rows;
                this.chartRows = rows;
                console.log(columns);
                console.log(rows);

                console.log("Chart data:");
                console.log(newData);

                this.data = newData;
                this.chartData = newData;
            }

            _selectedColumnsChanged(columns) {
                console.log(columns);
                console.log(this.selectedColumns);
                if (this.data) {
                    let chartData = []
                    for (let i = 0; i < this.data.length; i++) {
                        let newRow = [];
                        for (let i2 = 0; i2 < this.selectedColumns.length; i2++) {
                            newRow.push(this.data[i][this.selectedColumns[i2]])
                        }
                        chartData.push(newRow);
                    }
                    console.log(chartData);
                    this.chartData = chartData;
                }
            }

            _tableChanged(table) {
                console.log(table);
                if (this.tables) {
                    for (let i = 0; i < this.tables.length; i++) {
                        if (this.tables[i].id == this.table) {
                            this.currentTable = this.tables[i].label;
                        }
                    }
                }
            }

            _tablesChanged(tables) {
                this._currentTableIndexChanged(this.currentTableIndex);
            }
        }

        window.customElements.define(PageData.is, PageData);
    </script>
</dom-module>
