<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../../../bower_components/my-grid/my-grid.html">
<!--<link rel="import" href="../../../components/google-chart-responsive/google-chart-responsive.html">-->
<link rel="import" href="../../../components/fact-finder/fact-finder.html">
<link rel="import" href="../../../components/fact-finder/fact-finder-tables.html">
<link rel="import" href="../../../components/my-card/my-card.html">
<link rel="import" href="../../../components/chart-select.html">
<link rel="import" href="../../../components/columns-select.html">
<link rel="import" href="../../../components/state-select.html">
<link rel="import" href="../../../components/summary-select.html">
<link rel="import" href="../../../components/program-select.html">
<link rel="import" href="../../../components/data-select.html">
<link rel="import" href="../../../components/table-select.html">
<link rel="import" href="../../../components/explore-options.html">
<link rel="import" href="../../../../bower_components/my-singleton/my-singleton.html">
<link rel="import" href="../../../components/my-chart.html">
<link rel="import" href="../../../components/HelperMixin.html">

<dom-module id="page-explore">
    <template>
        <style include="global-styles app-styles">
            :host {
                width: 100%;
            }
        </style>
        <my-singleton property="styles" value="{{styles}}"></my-singleton>
        <my-grid columns="auto">
            <my-card collapsable>
                <div slot="title">Table</div>
                <div slot="content">
                    <explore-options program="{{program}}" _dataset="{{_dataset}}" table="{{table}}" chart="{{chart}}"></explore-options>
                </div>
            </my-card>
            <my-card collapsable>
                <div slot="title">Columns</div>
                <div slot="content">
                    <columns-select program="[[program]]" _dataset="[[_dataset]]" table="[[table]]" selected-columns="{{selectedColumns}}"></columns-select>
                </div>
            </my-card>
            <my-card ratio="3:2">
                <div slot="title">Chart</div>
                <div slot="header-right">
                    <!--<chart-select chart="{{chart}}" options="{{chartOptions}}"></chart-select>-->
                </div>
                <div slot="content" class="full-height">
                    <!--<google-chart-responsive type="[[chartType]]" options="[[chartOptions]]" cols="[[chartColumns]]" rows="[[chartRows]]"></google-chart-responsive>-->
                    <!--<google-chart-responsive type="[[chart]]" options="[[chartOptions]]" data="[[chartData]]"></google-chart-responsive>-->
                    <my-chart data="[[chartData]]" options="[[chartOptions]]" type="[[chart]]"></my-chart>
                </div>
            </my-card>
            <my-card collapsable>
                <div slot="title">Raw ouput</div>
                <div slot="content">
                    <pre>[[_stringify(response)]]</pre>
                </div>
            </my-card>
        </my-grid>
        <fact-finder program="[[program]]" _dataset="[[_dataset]]" table="[[table]]" geography-id="[[geographyId]]" key="c97423c3f598951d2138d69861730b9154cd7230" response="{{response}}"></fact-finder>
    </template>
    <script>
        class PageExplore extends HelperMixin(Polymer.Element) {
            static get is() {
                return 'page-explore';
            }

            static get properties() {
                return {
                    _dataset: {
                        type: String,
                        value: "10_SF1"
                    },
                    chartData: {
                        type: Array
                    },
                    chartOptions: {
                        type: Object
                    },
                    geographyId: {
                        type: String,
                        value: "0100000US.04000"
                    },
                    program: {
                        type: String,
                        value: "DEC"
                    },
                    response: {
                        type: Object,
                        observer: '_responseChanged'
                    },
                    selectedColumns: {
                        type: Array,
                        observer: '_selectedColumnsChanged'
                    },
                    styles: {
                        type: Object
                    },
                    table: {
                        type: String,
                        value: "P1"
                    },
                    tables: {
                        type: Array
                    }
                }
            }

            static get observers() {
                return [
                    '_selectedColumnsChanged(selectedColumns.splices)'
                ]
            }

            _currentTableIndexChanged(index) {
                /*
                console.log(index);
                console.log(this.tables);
                if (this.tables) {
                    let table = this.tables[index];
                    this.currentTableId = table.id;
                    this.currentTableLabel = table.label;
                    console.log(this.tables[index]);
                }
                */
            }

            _isEqual(prop1, prop2) {
                return (prop1 === prop2);
            }

            _isSummaryLevel(summaryLevel, level) {
                //console.log(level);
                return (summaryLevel === level);
            }

            _responseChanged(response) {
                // No data
                if (!response.data) return;
                let data = response.data;
                let dataColumns = data.header.cells;
                let dataRows = data.rows;

                let newData = [];
                let columns = [];
                let newRow = [];
                newRow.push("Geography");
                columns.push({type: "string", label: "Geography"});
                for (let header in dataColumns) {
                    let categories = dataColumns[header].categories;
                    let type = dataColumns[header].valueType;
                    for (let category in categories) {
                        let column = {};
                        column.type = type;
                        column.label = categories[category].label;
                        newRow.push(categories[category].label);
                        columns.push(column);
                    }
                }
                this.dataColumns = columns;
                this.chartColumns = columns;

                let numberOfColumns = Object.keys(dataColumns).length;
                // console.log("Number of columns: ", numberOfColumns);
                let selectedColumns = Array.apply(null, {length: numberOfColumns}).map(Number.call, Number);
                // this.selectedColumns = selectedColumns;

                newData.push(newRow);

                let rows = [];

                for (let row in dataRows) {
                    let newDataRow = []
                    let newRow = dataRows[row];
                    newDataRow.push(newRow.categories.GEO.label);
                    for (let cell in newRow.cells) {
                        let newCell = newRow.cells[cell];
                        newDataRow.push(newCell.value);
                    }
                    newData.push(newDataRow);
                    rows.push(newDataRow);
                }

                this.dataRows = rows;
                this.chartRows = rows;

                this.data = newData;
                this.chartData = newData;
            }

            _selectedColumnsChanged(columns) {
                //console.log(columns);
                //console.log(this.selectedColumns);
                if (this.data) {
                    let chartData = []
                    for (let i = 0; i < this.data.length; i++) {
                        let newRow = [];
                        for (let i2 = 0; i2 < this.selectedColumns.length; i2++) {
                            newRow.push(this.data[i][this.selectedColumns[i2]])
                        }
                        chartData.push(newRow);
                    }
                    //console.log(chartData);
                    this.chartData = chartData;
                }
            }
        }

        window.customElements.define(PageExplore.is, PageExplore);
    </script>
</dom-module>
