<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/my-grid/my-grid.html">
<link rel="import" href="../../../components/my-card/my-card.html">
<link rel="import" href="../../../components/land-water.html">
<link rel="import" href="../../views/charts/chart-map-state.html">
<link rel="import" href="../../views/charts/chart-bar-gender.html">
<link rel="import" href="../../../components/fact-finder/fact-finder-state.html">
<link rel="import" href="../../../components/app-data.html">
<link rel="import" href="../../../../lib/map-property/map-property.html">
<link rel="import" href="../../../components/select-state.html">

<dom-module id="page-state">
    <template>
        <style include="global-styles app-styles"></style>
        <app-data data="{{data}}"></app-data>
        <map-property source="[[data.location.state.name]]" target="{{name}}"></map-property>
        <fact-finder-state state-name="{{name}}" geo-id="{{geographyId}}"></fact-finder-state>
        <my-grid>
            <my-card ratio="16:9">
                <div class="card-content flex-center">
                    <select-state name="{{name}}" geography-id="{{geographyId}}"></select-state>
                </div>
            </my-card>
            <my-card ratio="16:9">
                <div class="card-content">
                    <chart-map-state name="[[name]]"></chart-map-state>
                </div>
            </my-card>
            <my-card ratio="16:9" columns="2">
                <div class="card-content">
                    <chart-bar-gender geo-id="[[geographyId]]"></chart-bar-gender>
                </div>
            </my-card>
            <my-card ratio="16:9">
                <div class="card-content">
                    test
                </div>
            </my-card>
            <my-card ratio="16:9">
                <div class="card-content">
                    test
                </div>
            </my-card>
            <my-card ratio="16:9">
                <div class="card-content">
                    test
                </div>
            </my-card>
        </my-grid>
    </template>
    <script>
        class PageState extends Polymer.Element {
            static get is() {
                return 'page-state';
            }

            static get properties() {
                return {
                    columns: {
                        type: Number,
                        value: 3
                    },
                    stateName: {
                        type: String
                    },
                    geographyId: {
                        type: String
                    }
                }
            }

            static get observers() {
                return [
                    "_columnsChanged(columns)"
                ]
            }

            _columnsChanged(columns) {
                columns = columns + 1;
                // this.shadowRoot.querySelector(".grid").style.gridTemplateColumns = "repeat(" + columns + ", 1fr)";
            }
        }

        window.customElements.define(PageState.is, PageState);
    </script>
</dom-module>
