<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/google-chart/google-chart.html">

<dom-module id="google-chart-responsive">
    <template>
        <style include="global-styles">
            :host {
                display: block;
                /*
                position: relative;
                display:block;
                overflow: hidden;
                height: 0;
                padding-top: 56.25%;
                width: 100%;
                */
            }
            google-chart {
                width: initial;
                height: initial;
            }
        </style>
        <google-chart type="[[type]]" data="[[data]]"></google-chart>
    </template>
    <script>
        class GoogleChartResponsive extends Polymer.mixinBehaviors(Polymer.IronResizableBehavior, Polymer.Element) {
            static get is() {
                return 'google-chart-responsive';
            }

            static get properties() {
                return {
                    type: {
                        type: String
                    },
                    data: {
                        type: Array
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();
                this.addEventListener('iron-resize', e =>
                    this._resize()
                );
            }

            _resize() {
                console.log("b");
                this.shadowRoot.querySelector("google-chart").redraw()
            }
        }
        window.customElements.define(GoogleChartResponsive.is, GoogleChartResponsive);
    </script>
</dom-module>
