<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/google-chart/google-chart.html">
<link rel="import" href="../../../src/components/my-singleton.html">

<dom-module id="google-chart-responsive">
    <template>
        <style include="global-styles">
            :host {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
            }

            google-chart {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        </style>
        <my-singleton property="styles" value="{{styles}}"></my-singleton>
        <google-chart id="chart" type="[[type]]" options="[[options]]" google-chart-celect="_chartSelect" selection-changed="_selectionChanged" rows="[[rows]]" cols="[[cols]]" data="[[data]]"></google-chart>
    </template>
    <script>
        class GoogleChartResponsive extends Polymer.mixinBehaviors(Polymer.IronResizableBehavior, Polymer.Element) {
            static get is() {
                return 'google-chart-responsive';
            }

            static get properties() {
                return {
                    cols: {
                        type: Array
                    },
                    data: {
                        type: Array
                    },
                    options: {
                        type: Object
                    },
                    rows: {
                        type: Array
                    },
                    type: {
                        type: Object
                    }
                }
            }

            static get observers() {
                return [
                    '_stylesChanged(styles.*)'
                ]
            }

            constructor() {
                super();
                this._boundListener = this._resize.bind(this);
            }

            connectedCallback() {
                super.connectedCallback();
                this.addEventListener('iron-resize', e =>
                    this._resize()
                );

                var ro = new ResizeObserver(entries => {
                    for(let entry of entries) {
                        const cr = entry.contentRect;
                    }
                    this._resize()
                });
                ro.observe(this);
                //window.addEventListener('drawerToggled', this._boundListener);
                //this.chart = this.shadowRoot.querySelector("google-chart");
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                window.removeEventListener('drawerToggled', this._boundListener);
            }

            _resize() {
                console.log("Resized");
                this.shadowRoot.querySelector("google-chart").redraw()
            }

            _selectionChanged(event) {
                var event = new CustomEvent('selection-changed', {bubbles: true, composed: true, detail: event.detail});
                this.dispatchEvent(event)
            }

            _stylesChanged(change) {
                let chart = this.shadowRoot.querySelector("google-chart");
                chart.options = chart.options || {};
                chart.options.colors = [this.styles.primaryColor];
                // console.log("Chart");
                // this.set("options.colors", [this.styles.primaryColor]);
                chart.redraw();
            }
        }

        window.customElements.define(GoogleChartResponsive.is, GoogleChartResponsive);
    </script>
</dom-module>
