<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="app-data">
    <template>
        <style include="">
            :host {
                @apply(--flex);
                @apply(--flex-grow);
            }
        </style>
    </template>
    <script>
        (function () {
            let data = {};
            let subscribers = [];
            
            class AppData extends Polymer.Element {
            static get is() {
                return 'app-data';
            }

            static get properties() {
                return {
                    data: {
                        type: Object,
                        notify: true,
                        value: data
                    },
                    subscribers: {
                        type: Object,
                        notify: true,
                        value: subscribers                    }
                }
            }

            static get observers() {
                return [
                    'dataChanged(data.*)'
                ]
            }
            
            connectedCallback() {
                super.connectedCallback();
                this.subscribers.push(this);
            }
            
            disconnectedCallback() {
                super.disconnectedCallback();
                var i = this.subscribers.indexOf(this);
                if (i > -1) this.subscribers.splice(i, 1);
            }
            
            dataChanged(change) {
                for(let i = 0; i < subscribers.length; i++) {
                    subscribers[i].notifyPath(change.path);
                }
            }
        }
        window.customElements.define(AppData.is, AppData);
        })();

    </script>
</dom-module>
