<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="x-grid-cell.html">

<link rel="import" href="../app-style.html">

<dom-module id="x-grid-cell">
    <template>
        <style include="app-style">
            :host {
                display: grid;
                grid-template-columns: repeat(4, [col] auto ) ;
            }

            :host ::slotted(.s2) {
                grid-column: span 2;
            }
        </style>
        <slot></slot>
    </template>
    <script>
        class XGridCell extends Polymer.Element {
            static get is() {
                return 'x-grid-cell';
            }

            static get properties() {
                return {
                    row: {
                        type: Boolean,
                        value: false
                    },
                    column: {
                        type: Boolean,
                        value: false
                    }
                }
            }
        }

        window.customElements.define(XGridCell.is, XGridCell);
    </script>
</dom-module>
