<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./fact-finder.html">

<dom-module id="fact-finder-state">
    <template>
        <fact-finder program="DEC" _dataset="10_SF1" table="G001" geo="0100000US.04000" data-element-id="STATE,NAME" key="c97423c3f598951d2138d69861730b9154cd7230" data="{{data}}" response="{{response}}"></fact-finder>
        <fact-finder-adapter input="[[response]]" output="{{data}}"></fact-finder-adapter>
    </template>
    <script>
        class FactFinderState extends Polymer.Element {
            static get is() {
                return 'fact-finder-state';
            }

            static get properties() {
                return {
                    data: {
                        type: Object,
                        // observer: '_dataChanged'
                    },
                    response: {
                        type: Object,
                        // observer: '_responseChanged'
                    },
                    state: {
                        type: String,
                        observer: '_stateChanged'
                    },
                    geoId: {
                        type: String,
                        computed: '_fipsChanged(fips)',
                        notify: true
                    },
                    fips: {
                        type: String
                    }
                }
            }

            _stateChanged(state) {
                console.log(state);
                if(this.data) {
                    for (let i = 0; i < this.data.length; i++) {
                        if (this.state == this.data[i][1][1]) {
                            this.set("fips", this.data[i][0][1]);
                        }
                    }
                }
            }

            _fipsChanged(fips) {
                console.log(fips);
                return "0400000US" + fips;
            }
        }
        window.customElements.define(FactFinderState.is, FactFinderState);
    </script>
</dom-module>
