<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./fact-finder.html">

<dom-module id="fact-finder-state">
    <template>
        <fact-finder
                program="DEC"
                _dataset="10_SF1"
                table="G001"
                geo-id="0100000US.04000"
                data-element-id="STATE,NAME,STUSAB"
                key="c97423c3f598951d2138d69861730b9154cd7230"
                response="{{response}}">
        </fact-finder>
        <fact-finder-adapter input="[[response]]" output="{{data}}"></fact-finder-adapter>
    </template>
    <script>
        class FactFinderState extends Polymer.Element {
            static get is() {
                return 'fact-finder-state';
            }

            static get properties() {
                return {
                    // Input
                    stateName: {
                        type: String,
                        observer: '_stateChanged'
                    },
                    abbreviation: {
                        type: String
                    },
                    geoId: {
                        type: String,
                        computed: '_stateIdChanged(stateId)',
                        notify: true
                    },
                    stateId: {
                        type: String
                    },
                    data: {
                        type: Object,
                        observer: '_dataChanged',
                        notify: true
                    },
                    index: {
                        type: Number,
                        notify: true
                    }
                }
            }

            _stateChanged(state) {
                // console.log(state);
                this._map(state, this.data);
            }

            _map(stateName, data) {
                // console.log(stateName);
                // console.log(data);
                if(this.stateName) {
                    if (this.data) {
                        for (let i = 0; i < this.data.length; i++) {
                            if (this.stateName == this.data[i][1][1]) {
                                this.set("index", i);
                                this.set("stateId", this.data[i][0][1]);
                            }
                        }
                    }
                }
            }

            _stateIdChanged(stateId) {
                // console.log(stateId);
                return "0400000US" + stateId;
            }

            _dataChanged(data) {
                // console.log(data);
                this._map(this.stateName, data);
            }
        }

        window.customElements.define(FactFinderState.is, FactFinderState);
    </script>
</dom-module>
