<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./fact-finder.html">
<link rel="import" href="./fact-finder-adapter.html">
<dom-module id="fact-finder-gender">
    <template>
        <fact-finder program="DEC" _dataset="10_SF1" table="P12" geography-id="[[geographyId]]" key="c97423c3f598951d2138d69861730b9154cd7230" response="{{response}}"></fact-finder>
        <fact-finder-adapter input="[[response]]" output="{{data}}" target="googleCharts"></fact-finder-adapter>
    </template>
    <script>
        class FactFinderGender extends Polymer.Element {
            static get is() {
                return 'fact-finder-gender';
            }

            static get properties() {
                return {
                    data: {
                        type: Object,
                        notify: true
                    },
                    geographyId: {
                        type: String
                    }
                }
            }
        }
        window.customElements.define(FactFinderGender.is, FactFinderGender);
    </script>
</dom-module>
