<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./fact-finder.html">
<link rel="import" href="./fact-finder-adapter.html">

<dom-module id="fact-finder-country-terrain">
    <template>
        <fact-finder program="DEC" _dataset="10_SF1" table="G001" geo="0100000US" data-element-id="AREALAND,AREAWATR" key="c97423c3f598951d2138d69861730b9154cd7230" response="{{response}}"></fact-finder>
        <fact-finder-adapter input="[[response]]" output="{{data}}" target="googleCharts"></fact-finder-adapter>
    </template>
    <script>
        class FactFinderCountryTerrain extends Polymer.Element {
            static get is() {
                return 'fact-finder-country-terrain';
            }

            static get properties() {
                return {
                    data: {
                        type: Array,
                        notify: true
                    }
                }
            }
        }
        window.customElements.define(FactFinderCountryTerrain.is, FactFinderCountryTerrain);
    </script>
</dom-module>
