<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="fact-finder-adapter-google-charts">
    <template>
    </template>
    <script>
        class FactFinder extends Polymer.Element {
            static get is() {
                return 'fact-finder-adapter-google-charts';
            }

            static get properties() {
                return {}
            }
        }
        window.customElements.define(FactFinder.is, FactFinder);
    </script>
</dom-module>
