<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <title>Government</title>
    <script src="../../../../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="../../../../src/components/my-singleton/my-singleton.html">
    <link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-bind.html">
    <link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
    <link rel="import" href="../../../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
</head>
<body>
<test-component></test-component>
<dom-module id="test-component">
    <template>
        Property 1:
        <paper-input value="{{value1}}"></paper-input>
        <paper-input value="{{value2}}"></paper-input>
        Property 2:
        <paper-input value="{{value3}}"></paper-input>
        <paper-input value="{{value4}}"></paper-input>
        <div>
            String
            <paper-input value="{{string}}"></paper-input>
            [[stringTest]]
            <!--<my-singleton property="property3" value="{{string}}"></my-singleton>-->
            <!--<my-singleton property="property3" value="{{stringTest}}"></my-singleton>-->
        </div>
        <div>
            Object
            <paper-input value="{{object.value}}"></paper-input>
            [[objectTest.value]]
            <my-singleton id="object" property="property4" value="{{object}}"></my-singleton>
            <my-singleton id="objectTest" property="property4" value="{{objectTest}}"></my-singleton>
            <app-localstorage-document key="object" data="{{object}}"></app-localstorage-document>
        </div>
        <!--<my-singleton property="property1" value="{{value1}}"></my-singleton>-->
        <!--<my-singleton property="property1" value="{{value2}}"></my-singleton>-->
        <!--<my-singleton property="property2" value="{{value3}}"></my-singleton>-->
        <!--<my-singleton property="property2" value="{{value4}}"></my-singleton>-->
    </template>
    <script>
        class TestComponent extends Polymer.Element {
            static get is() {
                return 'test-component';
            }

            static get properties() {
                return {
                    string: {
                        value: "String"
                    },
                    object: {
                        value: {
                            value: "value1"
                        }
                    },
                    objectTest: {
                        value: {
                            value: "value2"
                        }
                    },
                    array: {
                        value: [
                            "test",
                            "test2"
                        ]
                    }
                }
            }
        }

        window.customElements.define(TestComponent.is, TestComponent);
    </script>
</dom-module>
</body>
</html>
