<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-jsonp-library/iron-jsonp-library.html">

<dom-module id="us-census-aff">
    <template>
        <iron-jsonp-library
                library-url="[[_formatUrl()]]"
                notify-event="hangle-response"
                library-loaded="{{loaded}}">
        </iron-jsonp-library>
        [[loaded]]
        test
    </template>
    <script>
        class UsCensusAff extends Polymer.Element {
            static get is() {
                return 'us-census-aff';
            }

            static get properties() {
                return {
                    _baseUrl: {
                        type: String,
                        value: "factfinder.census.gov/service/data/v1"
                    }
                }
            }

            static get observers() {
                return []
            }

            _formatUrl() {
                return this._baseUrl = "?callback=%%";
            }
        }
        window.customElements.define(UsCensusAff.is, UsCensusAff);
    </script>
</dom-module>
