<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="map-property">
    <script>
        class MapProperty extends Polymer.Element {
            static get is() {
                return 'map-property';
            }

            static get properties() {
                return {
                    input: {
                        type: Object,
                        notify: true
                    },
                    output: {
                        type: Object,
                        notify: true
                    }
                }
            }

            static get observers() {
                return [
                    "_inputChanged(input.*)"
                    "_outputChanged(output.*)"
                ]
            }

            _inputChanged() {
                this.set("output", this.input);
            }

            _outputChanged() {
                this.set("input", this.output);
            }
        }
        window.customElements.define(MapProperty.is, MapProperty);
    </script>
</dom-module>
