<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">

<dom-module id="x-demographics">
    <template>
        <style include="iron-flex">
            :host {
                @apply(--layout-vertical);
                @apply(--layout-flex);
            }
        </style>
        <paper-card heading="Address">
            [[scope.location.city]], [[scope.location.state]]
        </paper-card>
        <x-address id="address" scope="{{scope}}"></x-address>
    </template>

    <script>
        class XDemographics extends Polymer.MutableData(Polymer.Element) {
            static get is() {
                return 'x-demographics';
            }

            static get properties() {
                return {
                    scope: {
                        type: Object,
                        reflectToAttribute: true
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();
                console.log(this.scope.location);
            }
        }

        window.customElements.define(XDemographics.is, XDemographics);
    </script>
</dom-module>
