<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="my-grid">
    <template>
        <style include="app-styles">
            :host {
                display: grid;
                grid-row-gap: 3rem;
                grid-column-gap: 3rem;
                padding: 3rem;
            }
        </style>
        <template is="dom-repeat" items="[[items]]" as="item">
            <paper-card>
                <div class="heading">[[item.title]]</div>
                <div class="content">
                    <custom-element element="[[item]]"></custom-element>
                </div>
            </paper-card>
        </template>
    </template>
    <script>
        class MyGrid extends Polymer.Element {
            static get is() {
                return 'my-grid';
            }

            static get properties() {
                return {
                    rows: {
                        type: Number,
                        value: 1
                    },
                    columns: {
                        type: Number,
                        value: 1
                    },
                    items: {
                        type: Object
                    }
                }
            }

            ready() {
                super.ready();
                this.style.gridTemplateRows = this.rows;
                this.style.gridTemplateColumns = "repeat(auto-fill, minmax(320px, 1fr))";
            }
        }

        window.customElements.define(MyGrid.is, MyGrid);
    </script>
</dom-module>
