<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="app-footer">
    <template>
        <style include="">
            :host {
                @apply(--flex);
                @apply(--flex-grow);
            }
        </style>
    </template>
    <script>
        class AppFooter extends Polymer.Element {
            static get is() {
                return 'app-footer';
            }

            static get properties() {
                return {}
            }

            static get observers() {
                return []
            }
        }
        window.customElements.define(AppFooter.is, AppFooter);
    </script>
</dom-module>
