<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="app-style.html">

<dom-module id="app-login">
    <template>
        <style include="app-style iron-flex">
            :host {
                @apply(--layout-horizontal);
                @apply(--layout-flex);
                @apply(--layout-center);
                @apply(--layout-center-justified);
            }
        </style>
        <paper-card heading="Sign in">
            <!--
            <div class="card-header">
                Login
            </div>
            -->
            <div class="card-content">
                <iron-form>
                    <form method="get" action="/form/handler">
                        <paper-input label="Email" always-float-label></paper-input>
                        <paper-input label="Password" always-float-label></paper-input>
                    </form>
                </iron-form>
            </div>
            <div class="card-actions">
                <google-signin brand="google" client-id="1007906209983-nbu0r39n694tlahr51mck2el5gdvtv0k.apps.googleusercontent.com" width="wide"></google-signin>
                <paper-button raised><iron-icon icon="icons:arrow-forward"></iron-icon>
                </paper-button>
            </div>
        </paper-card>
    </template>

    <script>
        class AppLogin extends Polymer.Element {
            static get is() {
                return 'app-login';
            }
        }

        window.customElements.define(AppLogin.is, AppLogin);
    </script>
</dom-module>
