<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="x-address.html">

<dom-module id="app-home">
    <template>
        <style include="iron-flex">
            :host {
                @apply(--layout-horizontal);
                @apply(--layout-flex);
            }
        </style>
        <x-address id="address" scope="{{this.scope}}"></x-address>
    </template>

    <script>
        class AppHome extends Polymer.Element {
            static get is() {
                return 'app-home';
            }

            static get properties() {
                return {
                    scope: {
                        type: Object
                    }
                }
            }

            ready(){
                super.ready();
                this.$.address.scope = this.scope;
                this.shadowRoot.querySelector("x-address").scope = this.scope;
                console.log(this.scope);
            }

            connectedCallback() {
                super.connectedCallback();

                this.$.address.scope = this.scope;
                this.shadowRoot.querySelector("x-address").scope = this.scope;
                console.log(this.scope);
            }
        }

        window.customElements.define(AppHome.is, AppHome);
    </script>
</dom-module>
