<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="app-overview.html">

<link rel="import" href="anoblet/flex-styles.html">

<link rel="import" href="x-state.html">

<link rel="import" href="anoblet/my-styles.html">

<dom-module id="app-home">
    <template>
        <style include="flex-styles my-styles">
            :host {
                @apply(--flex);
                @apply(--flex-grow);
            }
        </style>
        <x-state data="{{state}}"></x-state>
        <!-- [[data.location.city]] -->

        <app-overview app="{{app}}" data="[[data]]" scope="[[scope]]" state="{{state}}"></app-overview>
    </template>

    <script>
        class AppHome extends Polymer.MutableData(Polymer.Element) {
            static get is() {
                return 'app-home';
            }

            static get properties() {
                return {
                    scope: {
                        type: Object,
                        notify: true
                    },
                    state: {
                        type: Object,
                        notify: true
                    },
                    data: {
                        type: Object,
                        notify: true
                    }
                }
            }

            static get observers() {
                return [
                    'dataChanged(data.*)'
                ]
            }

            dataChanged(data) {
                // console.log('a');
                // this.notifyPath('data');
                // this.set('data', data)
            };
        }

        window.customElements.define(AppHome.is, AppHome);
    </script>
</dom-module>
