<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="app-style">
    <template>
        <style>
            *,
            *::before,
            *::after {
                box-sizing: inherit;
            }

            :host {
                box-sizing: border-box;

                --app-drawer-content-container: {
                    @apply(--layout-vertical);
                    @apply(--layout-flex);
                    /* @apply(--layout-center); */
                    background: #fff;
                    margin: 0;
                    padding: 0;
                };

                --paper-card: {
                    @apply(--flex);
                    @apply(--flex-auto);
                    @apply(--flex-column);
                    margin: 3rem 2rem 0 2rem;
                    padding: 1rem 2rem 1rem 2rem;
                };

                --paper-card-header: {
                    @apply(--flex);
                    padding: 1rem 1rem 0 1rem;
                    /* border-bottom: 1 px solid var(--google-grey-300); */
                };

                --paper-card-header-text: {
                    padding: 0;
                    font-size: 18px;
                    color: var(--google-blue-700);
                };

                --paper-card-content: {
                    padding: 2rem 2rem 1rem 2rem;
                    font-size: 2rem;
                    @apply(--flex);
                    @apply(--flex-row);
                    @apply(--flex-auto);
                };

                --paper-card-actions: {
                    @apply(--layout-horizontal);
                    @apply(--layout-center);
                    margin-top: 1rem;
                    padding: 1rem 1rem 0 1rem;
                };

                --paper-button: {
                    background-color: var(--google-blue-500);
                    color: #fff;
                };

                --app-menu: {
                    background: inherit;
                };
                --app-menu-focused-item: {
                    background: inherit;
                };
                --app-menu-selected-item: {
                    background: inherit;
                };

                --flex: {
                    display: flex;
                };

                --flex-auto: {
                    flex: auto;
                };

                --flex-grow: {
                    flex-grow: 1;
                };

                --flex-column: {
                    flex-direction: column;
                };

                --flex-horizontal: {
                    flex-direction: column;
                };

                --flex-vertical: {
                    flex-direction: row;
                };

                --flex-row: {
                    flex-direction: row;
                };

                --flex-wrap: {
                    flex-wrap: wrap;
                };

                --flex-shrink-disable: {
                    flex-shrink: 0;
                };
            }

            .card-header {
                padding: 1rem;
                font-weight: bold;
                border-bottom: 1px solid #e8e8e8;
            }

            .text-center {
                text-align: center;
            }

            app-drawer {
                @apply(--layout-horizontal);
                position: relative;
                top: 0;
                bottom: 0;
                --app-drawer-scrim-background: none;
                overflow: auto;
            }

            app-header-layout {
                @apply(--layout-vertical);
                @apply(--layout-flex);
            }

            .white {
                color: white;
            }

            .no-underline {
                text-decoration: none;
            }

            .padding {
                padding: 1em;
            }

            .t-1 {
                font-size: .75em;
            }

            .container {
                @apply(--flex);
                @apply(--flex-horizontal);
                width: 100%;
            }

            .row {
                @apply(--flex);
                @apply(--flex-vertical);
                @apply(--flex-wrap);
                flex-shrink: 0;
                margin-bottom: 1rem;
            }

            .column {
                @apply(--flex);
                @apply(--flex-auto);
                flex-shrink: 0;
                @apply(--flex-horizontal);
            }

            paper-card {
            }
        </style>
    </template>

    <script>
        class AppStyle extends Polymer.Element {
            static get is() {
                return 'app-style';
            }
        }

        window.customElements.define(AppStyle.is, AppStyle);
    </script>
</dom-module>
