<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<dom-module id="app-city">
    <template>
        <style include="app-style iron-flex">
            :host {
                @apply(--layout-horizontal);
                @apply(--layout-flex);
            }
        </style>
        <paper-card heading="[[scope.location.city]]" class="flex">
        </paper-card>
    </template>

    <script>
        class AppCity extends Polymer.Element {
            static get is() {
                return 'app-city';
            }

            static get properties() {
                return {
                    city: {
                        type: String,
                        value: "City"
                    }
                };
            }

            ready() {
                super.ready();

                this.city = this.scope.location.city;
                document.title = this.name;
            }
        }

        window.customElements.define(AppCity.is, AppCity);
    </script>
</dom-module>
