<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="app-city">
    <template>
        <style include="app-style iron-flex">
            :host {
            }
        </style>
    </template>

    <script>
        class AppCity extends Polymer.Element {
            static get is() {
                return 'app-city';
            }

            static get properties() {
                return {
                    name: {
                        type: String,
                        value: "City"
                    }
                };
            }
            connectedCallback () {
                super.connectedCallback();
                document.title = this.name;
            }
        }

        window.customElements.define(AppCity.is, AppCity);
    </script>
</dom-module>
