<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/google-apis/google-maps-api.html">

<link rel="import" href="app-style.html">


<dom-module id="app-address">
    <template>
        <style include="app-style">
            :host {
                @apply(--layout-vertical);
                @apply(--layout-flex);
            }
        </style>
        <google-maps-api id="map-api" api-key="AIzaSyCBAWWZHNX-gLrnIweoezSmpIjLEN7antk" version="3.exp" on-api-load="mapApiLoaded"></google-maps-api>
        <paper-card id="address" heading="Address">
            <paper-input id="autocomplete" placeholder="Enter your address" type="text" class="form-control"></paper-input>
        </paper-card>
    </template>

    <script>
        class AppAddress extends Polymer.Element {
            static get is() {
                return 'app-address';
            }

            static get properties() {
                return {
                    app: {
                        type: Object
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();
                // document.title = this.name;
                this.app = this.$.app;
            }

            mapApiLoaded() {
                var autocomplete = new google.maps.places.Autocomplete(this.$.autocomplete);
                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var place = autocomplete.getPlace();

                    for (var i = 0; i < place.address_components.length; i++) {
                        if (place.address_components[i].types[0] == 'locality') {
                            var city = place.address_components[i].long_name;
                        }
                        if (place.address_components[i].types[0] == 'administrative_area_level_1') {
                            var state = place.address_components[i].long_name;
                        }
                    }

                    alert(city + ", " + state);
                });
            }
        }

        window.customElements.define(AppAddress.is, AppAddress);
    </script>
</dom-module>
