<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="app-background">
    <template>
        <style include="iron-flex">
            :host {
                @apply(--layout-horizontal);
                @apply(--layout-flex);
            }
        </style>
    </template>

    <script>
        class AppBackground extends Polymer.Element {
            static get is() {
                return 'app-background';
            }

            cycleBackground() {
                this.sources;
                this.background = k;
            }
        }

        window.customElements.define(AppBackground.is, AppBackground);
    </script>
</dom-module>
