<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="app-config">
    <template>
        <style include="iron-flex">
            :host {
            }
        </style>
    </template>

    <script>
        class AppConfig extends Polymer.Element {
            static get is() {
                return 'app-config';
            }

            static get properties() {
                return {
                    namespace: {
                        type: String,
                        value: "app"
                    },
                    componentFolder: {
                        value: "components"
                    },
                    baseTitle: {
                        value: "Government"
                    },
                    routes: {
                        type: Array,
                        value: [
                            {
                                href: "",
                                title: "Home",
                                src: "components/app-home.html",
                                tag: "app-home"
                            },
                            {
                                href: "city",
                                title: "City",
                                src: "components/app-city.html",
                                tag: "app-city"
                            },
                            {
                                href: "state",
                                title: "State",
                                src: "components/app-state.html",
                                tag: "app-state"
                            },
                            {
                                href: "login",
                                title: "Login",
                                src: "components/app-login.html",
                                tag: "app-login"
                            },
                            {
                                href: "register",
                                title: "Register",
                                src: "components/app-register.html",
                                tag: "app-register"
                            },
                            {
                                href: "page",
                                title: "Home",
                                src: "components/app-page.html",
                                tag: "app-page"
                            },
                            {
                                href: "map",
                                title: "Home",
                                src: "components/app-map.html",
                                tag: "app-map"
                            }
                        ]
                    }
                };
            }
        }

        window.customElements.define(AppConfig.is, AppConfig);
    </script>
</dom-module>
