<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="x-grid/x-grid.html">

<link rel="import" href="anoblet/v.1.1.1/x-census.html">
<link rel="import" href="x-demographic.html">
<link rel="import" href="x-map.html">
<link rel="import" href="x-state.html">

<link rel="import" href="app-style.html">
<link rel="import" href="anoblet/global-styles.html">
<!-- <link rel="import" href="anoblet/v.1.1.1/my-address.html"> -->
<link rel="import" href="anoblet/v.1.1.1/my-location.html">

<dom-module id="app-overview">
    <template>
        <style include="app-style iron-flex global-styles">
            :host {
                @apply(--flex);
                @apply(--flex-auto);
                @apply(--flex-column);
                @apply(--flex-shrink-disable);
            }
        </style>
        <my-location location="{{location}}"></my-location>
        <!-- [[location.city]] -->
        <x-grid>
            <x-grid-row>
                <x-grid-cell>
                    <paper-card heading="Address">
                        <div class="card-content">
                            <my-address></my-address>
                            <!--
                            State: [[state.location.city]]
                            Data: [[data.location.city]], [[data.location.state]]
                            -->
                        </div>
                    </paper-card>
                </x-grid-cell>
            </x-grid-row>
            <x-grid-row>
                <x-grid-column>
                    <x-grid-cell flex-disabled>
                        <x-grid>
                            <x-grid-row>
                                <x-grid-cell flex-disabled>
                                    <paper-card heading="Statistics">
                                        <div class="card-content">
                                            <x-statistics state="[[state]]"></x-statistics>
                                        </div>
                                    </paper-card>
                                </x-grid-cell>
                            </x-grid-row>
                            <x-grid-row>
                                <x-grid-cell flex-disabled>
                                    <paper-card heading="Demographic">
                                        <div class="card-content">
                                            <x-demographic state="[[state]]"></x-demographic>
                                        </div>
                                    </paper-card>
                                </x-grid-cell>
                            </x-grid-row>
                        </x-grid>
                    </x-grid-cell>
                </x-grid-column>
                <x-grid-column>
                    <x-grid-cell flex-disabled>
                        <paper-card heading="Map">
                            <div class="card-content">
                                <x-map state="[[state]]"></x-map>
                            </div>
                        </paper-card>
                    </x-grid-cell>
                </x-grid-column>
            </x-grid-row>
            <x-grid-row>
                <x-grid-column>
                    <x-grid-cell>
                        <paper-card heading="Census">
                            <div class="card-content">
                                <x-census></x-census>
                            </div>
                        </paper-card>
                    </x-grid-cell>
                </x-grid-column>
            </x-grid-row>
            <x-grid-row>
                <x-grid-column>
                    <x-grid-cell>
                        <paper-card heading="Wikipedia">
                            <div class="card-content">
                                <wikipedia-query search="[[state.user.location.city]]"></wikipedia-query>
                            </div>
                        </paper-card>
                    </x-grid-cell>
                </x-grid-column>
            </x-grid-row>
        </x-grid>
        <x-state id="state" data="{{state}}"></x-state>
    </template>

    <script>
        class AppOverview extends Polymer.MutableData(Polymer.Element) {
            static get is() {
                return 'app-overview';
            }

            static get properties() {
                return {
                    scope: {
                        type: Object,
                        notify: true
                    },
                    state: {
                        type: Object
                    },
                    blocks: {
                        type: Object,
                        value: () => [
                            'x-address',
                            'x-locate',
                            'x-statistics',
                            'x-demographics',
                            'x-map',
                            'x-demographics'
                        ]
                    },
                    data: {
                        type: Object
                    }
                }
            }

            ready() {
                super.ready();
                // this.state = this.$.state.data;
            }

            connectedCallback() {
                super.connectedCallback();
                // this.set('state', this.$.state.data);
                // console.log(this.state);
                // this.state = this.$.state.data;
            }

        }

        window.customElements.define(AppOverview.is, AppOverview);
    </script>
</dom-module>