<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="app-style.html">

<dom-module id="app-page">
    <template>
        <style include="app-style iron-flex">
            :host {
                @apply(--layout-horizontal);
                @apply(--layout-flex);
            }

            #page {
                @apply(--layout-vertical);
                @apply(--layout-flex);
            }
        </style>
        <paper-card id="page">
            <h1>[[title]]</h1>
            [[content]]
        </paper-card>
    </template>

    <script>
        class AppPage extends Polymer.Element {
            static get is() {
                return 'app-page';
            }

            static get properties() {
                return {
                    title: {
                        value: "title"
                    },
                    content: {
                        value: "content"
                    }
                }
            }
        }

        window.customElements.define(AppPage.is, AppPage);
    </script>
</dom-module>
