<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="x-locate.html">
<link rel="import" href="app-overview.html">

<dom-module id="app-home">
    <template>
        <style include="iron-flex">
            :host {
                @apply(--layout-vertical);
                @apply(--layout-flex);
            }
        </style>
        <app-overview scope="{{scope}}" state="{{state}}"></app-overview>
    </template>

    <script>
        class AppHome extends XStateMixin(Polymer.Element) {
            static get is() {
                return 'app-home';
            }

            static get properties() {
                return {
                    scope: {
                        type: Object,
                        notify: true
                    },
                    state: {
                        type: Object,
                        notify: true
                    }
                }
            }
        }

        window.customElements.define(AppHome.is, AppHome);
    </script>
</dom-module>
