<link rel="import" href="x-element.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/app-menu/app-menu.html">
<link rel="import" href="../../bower_components/app-menu/app-submenu.html">

<link rel="import" href="app-style.html">

<dom-module id="app-nav">
    <template>
        <style include="app-style">
            :host {
                @apply(--layout-vertical);
                @apply(--layout-flex);
            }
        </style>
        <app-menu selected="0">
            <app-submenu>
                <div class="app-menu-item" slot="submenu-trigger">
                    <app-menu-icon-item icon="icons:account-balance">My City</app-menu-icon-item>
                    <iron-icon icon="expand-more" class="expand-icon"></iron-icon>
                </div>
                <app-menu slot="submenu-content">
                    <a class="app-menu-item" href="/[[state.user.location.state]]/[[state.user.location.city]]">Overview</a>
                    <a class="app-menu-item" href="javascript:void(0)">Officials</a>
                    <a class="app-menu-item" href="/city">Static</a>
                </app-menu>
            </app-submenu>
            <app-submenu>
                <div class="app-menu-item" slot="submenu-trigger">
                    <app-menu-icon-item icon="icons:account-balance">My County</app-menu-icon-item>
                    <iron-icon icon="expand-more" class="expand-icon"></iron-icon>
                </div>
                <app-menu slot="submenu-content">
                    <a class="app-menu-item" href="{{country}}">Officials</a>
                </app-menu>
            </app-submenu>
            <app-submenu>
                <div class="app-menu-item" slot="submenu-trigger">
                    <app-menu-icon-item icon="chrome-reader-mode">My State</app-menu-icon-item>
                    <iron-icon icon="expand-more" class="expand-icon"></iron-icon>
                </div>
                <app-menu slot="submenu-content">
                    <a class="app-menu-item" href="[[state.user.location.state]]">Overview</a>
                    <a class="app-menu-item" href="javascript:void(0)">Officials</a>
                    <a class="app-menu-item" href="/state">Static</a>
                </app-menu>
            </app-submenu>
            <app-submenu>
                <div class="app-menu-item" slot="submenu-trigger">
                    <app-menu-icon-item icon="chrome-reader-mode">My Country</app-menu-icon-item>
                    <iron-icon icon="expand-more" class="expand-icon"></iron-icon>
                </div>
                <app-menu slot="submenu-content">
                    <a class="app-menu-item" href="javascript:void(0)">Officials</a>
                </app-menu>
            </app-submenu>
            <a class="app-menu-item" href="/map">
                <app-menu-icon-item icon="icons:build">Map</app-menu-icon-item>
            </a>
        </app-menu>
    </template>

    <script>
        class AppNav extends Polymer.MutableData(Polymer.Element) {
            static get is() {
                return 'app-nav';
            }

            static get properties() {
                return {
                    scope: {
                        type: Object
                    },
                    state: {
                        type: Object
                    }

                };
            }
        }

        window.customElements.define(AppNav.is, AppNav);
    </script>
</dom-module>
