<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="chart-select">
    <template>
        <paper-dropdown-menu label="Chart" selected-item-label="{{chart}}">
            <paper-listbox slot="dropdown-content" selected="{{index}}">
                <template is="dom-repeat" items="[[charts]]">
                    <paper-item>[[item]]</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>
    </template>
    <script>
        class ChartSelect extends Polymer.Element {
            static get is() {
                return 'chart-select';
            }

            static get properties() {
                return {
                    chart: {
                        type: String,
                        value: 'column',
                        observer: '_chartChanged',
                        notify: true
                    },
                    index: {
                        type: Number,
                        value: 4
                    },
                    charts: {
                        type: Array,
                        value: function() {
                            return [
                                'area',
                                'bar',
                                'bubble',
                                'candlestick',
                                'column',
                                'geo',
                                'pie',
                                'table'
                            ]
                        }
                    },
                    options: {
                        type: Object,
                        notify: true
                    }
                }
            }

            constructor() {
                super();
                this._boundListener = this._styleChanged.bind(this);
            }

            _chartChanged(chart) {
                this.options = {
                    chartArea: {
                        width: '80%',
                        height: '80%'
                    },
                    legend: {
                        alignment: 'center',
                        position: 'top',
                    }
                };
                if (chart == "geo") {
                    this.options.region = "US";
                    this.options.resolution = "provinces";
                    this.options.defaultColor= '#90caf9'
                }
            }

            _styleChanged(style) {
                console.log("Here");
                // (function () { console.log(new Error().stack); })();
            }

            connectedCallback() {
                super.connectedCallback();
                window.addEventListener('styleChanged', this._boundListener);
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                window.removeEventListener('styleChanged', this._boundListener);
            }
        }
        window.customElements.define(ChartSelect.is, ChartSelect);
    </script>
</dom-module>
