<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">

<link rel="import" href="./my-style.html">

<dom-module id="city-info">
    <template>
        <style include="my-style iron-flex">
            :host {
                position: relative;
            }

            google-map {
                min-height: 25rem;
                min-width: 25rem;
            }
        </style>
        <ul>
            <li>City: [[state.user.location.city]]</li>
            <li>State: [[state.user.location.state]]</li>
        </ul>
    </template>

    <script>
        class CityInfo extends Polymer.Element {
            static get is() {
                return 'city-info';
            }

            static get properties() {
                return {
                    state: {
                        type: Object,
                        notify: true
                    }
                };
            }
        }

        window.customElements.define(CityInfo.is, CityInfo);
    </script>
</dom-module>
