<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="./fact-finder/fact-finder.html">

<dom-module id="column-select">
    <template>
            <paper-dropdown-menu label="Column Select">
                <paper-listbox slot="dropdown-content" attr-for-selected="value" selected="{{columns}}">
                    <template is="dom-repeat" items="{{columns}}">
                        <paper-item value="[[item.id]]">[[item.label]]</paper-item>
                    </template>
                </paper-listbox>
            </paper-dropdown-menu>
        <fact-finder program="[[program" _dataset="[[_dataset]]" table="[[table]]" key="c97423c3f598951d2138d69861730b9154cd7230" response="{{response}}"></fact-finder>
    </template>
    <script>
        class ColumnSelect extends Polymer.Element {
            static get is() {
                return 'column-select';
            }

            static get properties() {
                return {
                    column: {
                        type: String,
                        notify: true
                    },
                    columns: {
                        type: Array,
                        computed: '_computeColumns(response)'
                    },
                    response: {
                        type: Object,
                        // observer: '_responseChanged'
                    }
                }
            }

            _computeColumns(response) {
                console.log("Columns");
                console.log(response.columns);
                return response.columns;
            }

            _responseChanged(response) {
                console.log("Columns");
                console.log(response);
            }
        }

        window.customElements.define(ColumnSelect.is, ColumnSelect);
    </script>
</dom-module>
