<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="./fact-finder/fact-finder.html">

<dom-module id="columns-select">
    <template>
        <paper-listbox multi selected-values="{{selectedColumns}}">
            <template is="dom-repeat" items="{{columns}}">
                <paper-item>
                    <span>[[item.label]]</span>
                    <paper-tooltip>[[item.label]]</paper-tooltip>
                </paper-item>
            </template>
        </paper-listbox>
        <fact-finder program="[[program]]" _dataset="[[_dataset]]" table="[[table]]" key="c97423c3f598951d2138d69861730b9154cd7230" response="{{response}}"></fact-finder>
    </template>
    <script>
        class ColumnsSelect extends Polymer.Element {
            static get is() {
                return 'columns-select';
            }

            static get properties() {
                return {
                    column: {
                        type: String,
                        notify: true
                    },
                    columns: {
                        type: Array,
                        computed: '_computeColumns(response)'
                    },
                    _dataset: {
                        type: String
                    },
                    program: {
                        type: String
                    },
                    response: {
                        type: Object
                    },
                    selectedColumns: {
                        type: Array,
                        notify: true
                    },
                    table: {
                        type: String
                    }
                }
            }

            _computeColumns(response) {
                console.log("Columns");
                console.log(response);
                let columns = [];
                columns.push({label: "Geography"});
                let dataColumns = Object.values(response.table.valueDataElements);
                for(let i = 0; i < dataColumns.length; i++) {
                    let column = {};
                    let dataCategories = Object.values(dataColumns[i].categories);
                    column.id = dataCategories[0].id;
                    column.label = dataCategories[0].label;
                    columns.push(column);
                }
                console.log(columns);

                return columns;
            }

            _responseChanged(response) {

            }
        }

        window.customElements.define(ColumnsSelect.is, ColumnsSelect);
    </script>
</dom-module>
