<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="./fact-finder/fact-finder.html">

<dom-module id="data-select">
    <template>
        <paper-dropdown-menu label="Set">
            <paper-listbox slot="dropdown-content" attr-for-selected="name" selected="{{_dataset}}">
                <template is="dom-repeat" items="{{_datasets}}">
                    <paper-item name="[[item.id]]">[[item.label]]</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>
        <fact-finder program="{{program}}" key="c97423c3f598951d2138d69861730b9154cd7230" response="{{response}}"></fact-finder>
    </template>
    <script>
        class DataSelect extends Polymer.Element {
            static get is() {
                return 'data-select';
            }

            static get properties() {
                return {
                    _dataset: {
                        type: String,
                        notify: true
                    },
                    program: {
                        type: String,
                    },
                    _datasets: {
                        type: Array,
                        computed: '_computeDatasets(response)'
                    },
                    response: {
                        type: Object,
                    }
                }
            }

            _computeDatasets(response) {
                console.log("Datasets: ", response.datasets);
                return response.datasets;
            }
        }

        window.customElements.define(DataSelect.is, DataSelect);
    </script>
</dom-module>
