<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="explore-options">
    <template>
        <style>
            :host {
                display: flex;
                justify-content: space-around;
            }
        </style>
        <template is="dom-if" if="[[advanced]]">
            <paper-input label="Geography ID" value="{{geographyId}}"></paper-input>
        </template>
        <summary-select level="{{geographyId}}"></summary-select>
        <template is="dom-if" if="[[_isSummaryLevel(geographyId, 'state')]]">
            <state-select geography-id="{{geographyId}}"></state-select>
        </template>
        <program-select program="{{program}}" _dataset="{{_dataset}}" table="{{table}}"></program-select>
        <data-select program="{{program}}" _dataset="{{_dataset}}" table="{{table}}"></data-select>
        <table-select program="{{program}}" _dataset="{{_dataset}}" table="{{table}}"></table-select>
        <chart-select chart="{{chart}}" options="{{chartOptions}}"></chart-select>
    </template>
    <script>
        class ExploreOptions extends Polymer.Element {
            static get is() {
                return 'explore-options';
            }

            static get properties() {
                return {
                    advanced: {
                        type: Boolean,
                        value: false
                    },
                    program: {
                        type: String,
                        notify: true
                    },
                    _dataset: {
                        type: String,
                        notify: true
                    },
                    table: {
                        type: String,
                        notify: true
                    }
                }
            }
        }

        window.customElements.define(ExploreOptions.is, ExploreOptions);
    </script>
</dom-module>
