<script>
    (function () {
        /** @polymerMixin */
        HelperMixin = function (superClass) {
            return class extends superClass {
                _isEqual(prop1, prop2) {
                    return (prop1 === prop2);
                }

                _camelToHyphen(str) {
                    return str.replace(/([a-zA-Z])(?=[A-Z])/g, '$1-').toLowerCase();
                }

                _stringify(obj) {
                    return JSON.stringify(obj);
                }

                _objectValues(object) {
                    return Object.keys(object).map(function(key) {
                        return object[key];
                    })
                }
            }
        }
    })();
</script>