<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../components/google-chart-responsive/google-chart-responsive.html">

<dom-module id="land-water">
    <template>
        <style>
            :host {
                width: 100%;
            }
        </style>
        <google-chart-responsive type='pie' options='{"title": "Terrain Makeup"}' data="[[chartData]]"></google-chart-responsive>
    </template>
    <script>
        class LandWater extends Polymer.mixinBehaviors(Polymer.IronResizableBehavior, Polymer.Element) {
            static get is() {
                return 'land-water';
            }

            static get properties() {
                return {
                    land: {
                        type: Number
                    },
                    water: {
                        type: Number
                    },
                    _chartData: {
                        type: Array
                    }
                }
            }

            static get observers() {
                return [
                    "_terrainChanged(land, water)"
                ]
            }

            _terrainChanged(land, water) {
                this.chartData = [["Terrain", "Percent"], ["Land", land], ["Water", water]];
            }

            connectedCallback() {
                super.connectedCallback();
                this.addEventListener('iron-resize', e =>
                    this._resize()
                );
            }

            _resize() {
                console.log("b");
                this.shadowRoot.querySelector("google-chart").redraw()
            }
        }

        window.customElements.define(LandWater.is, LandWater);
    </script>
</dom-module>
