<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="map-object">
    <template>
        <style>
            :host {
            }
        </style>
    </template>
    <script>
        class MapObject extends Polymer.Element {
            static get is() {
                return 'map-object';
            }

            static get properties() {
                return {
                    input: {
                        type: Object,
                        notify: true
                    },
                    output: {
                        type: Object,
                        notify: true
                    },
                    source: {
                        type: Object,
                        notify: true
                    },
                    target: {
                        type: Object,
                        notify: true
                    },

                }
            }

            static get observers() {
                return [
                    "_inputChanged(input.*)",
                    "_outputChanged(output.*)",
                    "_sourceChanged(source.*)",
                    "_targetChanged(target.*)"
                ]
            }

            _inputChanged() {
                this.set("output", this.input);
            }

            _outputChanged() {
                this.set("input", this.output);
            }

            _sourceChanged() {
                this.set("target", this.source);
            }

            _targetChanged() {
                this.set("source", this.target);
            }
        }
        window.customElements.define(MapObject.is, MapObject);
    </script>
</dom-module>
