<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="map-object">
    <script>
        class MapObject extends Polymer.Element {
            static get is() {
                return 'map-object';
            }

            static get properties() {
                return {
                    source: {
                        type: Object,
                        notify: true
                    },
                    target: {
                        type: Object,
                        notify: true
                    }
                }
            }

            static get observers() {
                return [
                    "_sourceChanged(source.*)",
                    "_targetChanged(target.*)"
                ]
            }

            _sourceChanged() {
                this.set("target", this.source);
            }

            _targetChanged() {
                this.set("source", this.target);
            }
        }
        window.customElements.define(MapObject.is, MapObject);
    </script>
</dom-module>
