<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/google-apis/google-maps-api.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<link rel="import" href="my-location.html">

<dom-module id="my-address">
    <template>
        <style include="app-style">
            :host {
                @apply(--layout-flex);

                --paper-input-container-color: #fff;

                --paper-input-container-input: {
                    color: #fff;
                }
            }

        </style>
        <google-maps-api id="map-api" api-key="AIzaSyCBAWWZHNX-gLrnIweoezSmpIjLEN7antk" version="3.exp" on-api-load="mapApiLoaded"></google-maps-api>
        <!--
        <paper-input id="locate" placeholder="[[location.city]], [[location.state]]" type="text">
            <iron-icon icon="room" slot="suffix" on-click="locate"></iron-icon>
        </paper-input>
        -->
        <input id="locate" type="text" placeholder="[[location.city]], [[location.state]]">
        <i on-click="locate">Locate</i>
        <my-location data="{{location}}"></my-location>
    </template>

    <script>
        class MyAddress extends Polymer.Element {
            static get is() {
                return 'my-address';
            }

            _autocomplete() {
                var locate = this.$.locate;
                var _this = this;
                var autocomplete = new google.maps.places.Autocomplete(locate);

                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var result = autocomplete.getPlace();
                    _this.setLocation(result);
                });
            }

            locate() {
                var _this = this;
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var geocoder = new google.maps.Geocoder();
                        var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                        geocoder.geocode({'latLng': geolocate}, function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                var result;
                                if (results.length > 1) {
                                    result = results[1];
                                } else {
                                    result = results[0];
                                }

                                _this.setLocation(result);
                            }
                        });
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

            setLocation(result) {
                var _location = {};

                _location.latitude = result.geometry.location.lat();
                _location.longitude = result.geometry.location.lng();

                for (var i = 0; i < result.address_components.length; i++) {
                    if (result.address_components[i].types[0] == 'locality') {
                        _location.city = result.address_components[i].long_name;
                    }

                    if (result.address_components[i].types[0] == 'administrative_area_level_1') {
                        _location.state = result.address_components[i].long_name;
                    }
                }

                this.set('location.latitude', _location.latitude);
                this.set('location.longitude', _location.longitude);
                this.set('location.city', _location.city);
                this.set('location.state', _location.state);
                // this.set('location', _location);
            }

            mapApiLoaded() {
                this._autocomplete();
            }
        }

        window.customElements.define(MyAddress.is, MyAddress);
    </script>
</dom-module>
