<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="google-chart-responsive/google-chart-responsive.html">
<link rel="import" href="HelperMixin.html">

<dom-module id="my-chart">
    <template>
        <my-singleton property="theme" value="{{theme}}"></my-singleton>
        <google-chart-responsive data="[[data]]" options="[[options]]" type="[[type]]"></google-chart-responsive>
    </template>
    <script>
        class MyChart extends HelperMixin(Polymer.Element) {
            static get is() {
                return 'my-chart';
            }

            static get properties() {
                return {
                    data: {
                        type: Object
                    },
                    options: {
                        type: Object
                    },
                    theme: {
                        type: Object,
                        observer: '_themeChanged'
                    },
                    type: {
                        type: String,
                        value: "pie"
                    }
                }
            }

            _themeChanged(theme) {
                let colors = this._objectValues(theme.colors);
                let chart = this.shadowRoot.querySelector("google-chart-responsive");
                chart.chart.options = chart.chart.options || {};
                if(this.type == "geo") {
                    chart.chart.options.defaultColor = theme.colors["500"];
                }
                chart.chart.options.colors = colors;
            }
        }
        window.customElements.define(MyChart.is, MyChart);
    </script>
</dom-module>
