<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="my-city">
    <template>
        <style>
            :host {
                @apply(--flex);
                @apply(--flex-grow);
            }
        </style>
        <my-location data="{{location}}"></my-location>
        [[location.city]]
    </template>
    <script>
        class MyCity extends Polymer.Element {
            static get is() {
                return 'my-city';
            }

            static get properties() {
                return {}
            }

            static get observers() {
                return []
            }
        }
        window.customElements.define(MyCity.is, MyCity);
    </script>
</dom-module>
