<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="my-singleton">
    <script>
        /**
         * `my-singleton`
         *
         * Currently limited to objects
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        (function () {
            let data = {};
            let instance;
            let subscribers = {};
            let isRoot = true;

            class MySingleton extends Polymer.Element {
                static get is() {
                    return 'my-singleton';
                }

                static get properties() {
                    return {
                        data: {
                            value: data
                        },
                        init: {
                            type: Boolean,
                            value: false
                        },
                        property: {
                            type: String
                        },
                        subscribers: {
                            type: Array,
                            value: subscribers
                        },
                        value: {
                            type: Object,
                            notify: true,
                            value: data[this.property]
                        }
                    };
                }

                static get observers() {
                    return [
                        '_valueChanged(value.*)'
                    ]
                }

                constructor() {
                    super();
                    // Set authoritative instance
                    if(!instance) instance = this;
                }

                ready() {
                    super.ready();

                }

                connectedCallback() {
                    super.connectedCallback();
                    // if(this.value) {
                    // data[this.property] = this.value;
                    // }
                    // Default to an object
                    // data[this.property] = data[this.property] || {};
                    // this.set("value", data[this.property]);
                    // this.value = data[this.property];
                    //console.log("Initialize default values");
                    // console.log(this);
                    this.set("value", this.data[this.property])
                    // this.value = this.data[this.property];
                    // console.log("Done initializing default values");
                    this.init = true;
                    instance.subscribers[this.property] = instance.subscribers[this.property] || [];
                    instance.subscribers[this.property].push(this);
                }

                disconnectedCallback() {
                    super.disconnectedCallback();
                    var index = instance.subscribers[this.property].indexOf(this);
                    if(index > -1) instance.subscribers[this.property].splice(index, 1)
                }

                _valueChanged(change) {
                    // console.log("New value:", change.value);
                    // Is this necessary?
                    // console.log(instance.subscribers[this.property]);
                    // (function () { console.log(new Error().stack); })();

                    if(this.init) {
                        if(isRoot) {
                            isRoot = false;
                            this.data[this.property] = change.base;
                            if(instance.subscribers[this.property]) {
                                instance.subscribers[this.property].forEach(e => {
                                    if(e === this) {
                                        //console.log("Same instance");
                                    }
                                    else {
                                        //console.log("Updating");
                                        //console.log(e);
                                        e.set(change.path, change.value);
                                        e.notifyPath(change.path);
                                    }
                                });
                            }
                            isRoot = true;
                        }
                        else {
                            // console.log("Not root");
                        }
                    }
                    else {
                        // console.log("First run");
                    }
                }

                _updateSubscribers() {

                }
            }

            window.customElements.define(MySingleton.is, MySingleton);
        })();
    </script>
</dom-module>
