<script>
    (function () {
        MyMixin = function (superClass) {
            return class extends superClass {
                static get properties() {
                    return {
                        debug: {
                            type: Boolean,
                            value: false
                        }
                    }
                }

                _isEqual(prop1, prop2) {
                    return (prop1 === prop2);
                }

                _stringify(obj) {
                    return JSON.stringify(obj);
                }
            }
        }
    })();
</script>