<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="./fact-finder/fact-finder.html">

<dom-module id="program-select">
    <template>
        <paper-dropdown-menu label="Program Select">
            <paper-listbox slot="dropdown-content" attr-for-selected="name" selected="{{program}}">
                <template is="dom-repeat" items="{{programs}}">
                    <paper-item name="[[item.id]]">[[item.label]]</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>
        <fact-finder key="c97423c3f598951d2138d69861730b9154cd7230" response="{{response}}"></fact-finder>
    </template>
    <script>
        class ProgramSelect extends Polymer.Element {
            static get is() {
                return 'program-select';
            }

            static get properties() {
                return {
                    _dataset: {
                        type: String,
                        notify: true
                    },
                    program: {
                        type: String,
                        // observer: '_programChanged',
                        notify: true
                    },
                    programs: {
                        type: Array,
                        computed: '_computePrograms(response)'
                    },
                    response: {
                        type: Object,
                        // observer: '_responseChanged'
                    },
                    table: {
                        type: String,
                        notify: true
                    }
                }
            }

            static get observers() {
                return [
                    // '_programChanged(program.*)'
                ]
            }

            _computePrograms(response) {
                console.log("Programs");
                console.log(response.programs);
                return response.programs;
            }

            _programChanged(change) {
                console.log("Here");
                console.log(change);
                this.set('_dataset', false);
                this.set('_table', false);
            }

            _responseChanged(response) {
                console.log("Programs");
                console.log(response);
            }
        }

        window.customElements.define(ProgramSelect.is, ProgramSelect);
    </script>
</dom-module>
