<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<link rel="import" href="../../bower_components/my-singleton/my-singleton.html">

<dom-module id="settings-theme">
    <template>
        <my-singleton property="styles" value="{{styles}}"></my-singleton>
        <my-singleton property="theme" value="{{theme}}"></my-singleton>
        <paper-dropdown-menu>
            <paper-listbox slot="dropdown-content" selected="{{themeIndex}}">
                <template is="dom-repeat" items="[[themes]]">
                    <paper-item>[[item.name]]</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>
    </template>
    <script>
        class SettingsTheme extends Polymer.Element {
            static get is() {
                return 'settings-theme';
            }

            static get properties() {
                return {
                    theme: {
                        type: String
                    },
                    themeIndex: {
                        type: String,
                        observer: '_themeIndexChanged'
                    },
                    themes: {
                        type: Array,
                        value: [
                            {
                                name: "Blue",
                                colors: {
                                    "50": "#E3F2FD",
                                    "100": "#BBDEFB",
                                    "200": "#90CAF9",
                                    "300": "#64B5F6",
                                    "400": "#42A5F5",
                                    "500": "#2196F3",
                                    "600": "#1E88E5",
                                    "700": "#1976D2",
                                    "800": "#1565C0",
                                    "900": "#0D47A1",
                                    "A100": "#82B1FF",
                                    "A200": "#448AFF",
                                    "A400": "#2979FF",
                                    "A700": "#2962FF"
                                }
                            },
                            {
                                name: "Red",
                                colors: {
                                    "50": "#FFEBEE",
                                    "100": "#FFCDD2",
                                    "200": "#EF9A9A",
                                    "300": "#E57373",
                                    "400": "#EF5350",
                                    "500": "#F44336",
                                    "600": "#E53935",
                                    "700": "#D32F2F",
                                    "800": "#C62828",
                                    "900": "#B71C1C",
                                    "A100": "#FF8A80",
                                    "A200": "#FF5252",
                                    "A400": "#FF1744",
                                    "A700": "#D50000"
                                }
                            }
                        ]
                    }
                }
            }

            _themeIndexChanged(index) {
                this.set("theme", this.themes[index]);
                this.set("styles.primaryColor", this.themes[index].colors[500]);
            }
        }

        window.customElements.define(SettingsTheme.is, SettingsTheme);
    </script>
</dom-module>
