<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-swatch-picker/paper-swatch-picker.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<dom-module id="settings-color">
    <template>
        <div>
            Primary Color:
            <paper-swatch-picker color="{{styles.primaryColor}}"></paper-swatch-picker>
        </div>
        <div>
            Secondary Color:
            <paper-swatch-picker color="{{styles.secondaryColor}}"></paper-swatch-picker>
        </div>
        <div>
            Page background color:
            <paper-swatch-picker color="{{styles.pageBackgroundColor}}"></paper-swatch-picker>
        </div>
        <div>
            Card header color:
            <paper-swatch-picker color="{{styles.cardHeaderColor}}"></paper-swatch-picker>
        </div>
        <div>
            Card content background color:
            <paper-swatch-picker color="{{styles.cardContentBackgroundColor}}"></paper-swatch-picker>
        </div>
        <app-localstorage-document key="styles" data="{{styles}}"></app-localstorage-document>
    </template>
    <script>
        class SettingsColor extends Polymer.Element {
            static get is() {
                return 'settings-color';
            }

            static get properties() {
                return {
                    styles: {
                        type: Object,
                        value: {}
                    }
                }
            }

            static get observers() {
                return [
                    '_stylesChanged(styles.*)'
                ]
            }

            _stylesChanged(change) {
                console.log("Updating styles: ");
                console.log(change);
                let newStyles = {};
                console.log(this.styles);
                let keys = Object.keys(this.styles);
                for (let i = 0; i < keys.length; i++) {
                    let style = keys[i];
                    let newStyle = style.replace(/([a-zA-Z])(?=[A-Z])/g, '$1-').toLowerCase();
                    newStyles['--' + newStyle] = this.styles[keys[i]];
                    // newStyles['--' + keys[i]] = this.styles[keys[i]];

                }
                this.dispatchEvent(new CustomEvent('styleChanged', {
                    bubbles: true,
                    composed: true,
                    detail: newStyles
                }));
            }
        }

        window.customElements.define(SettingsColor.is, SettingsColor);
    </script>
</dom-module>
