<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">
<link rel="import" href="../../bower_components/paper-swatch-picker/paper-swatch-picker.html">
<link rel="import" href="my-singleton/my-singleton.html">
<link rel="import" href="HelperMixin.html">

<dom-module id="settings-style">
    <template>
        <template is="dom-if" if="[[_isEqual(version, 1)]]">
            <div>
                Page background color:
                <paper-swatch-picker color="{{styles.pageBackgroundColor}}"></paper-swatch-picker>
            </div>
            <div>
                Card header background color:
                <paper-swatch-picker color="{{styles.cardHeaderBackgroundColor}}"></paper-swatch-picker>
            </div>
            <div>
                Card header text color:
                <paper-swatch-picker color="{{styles.cardHeaderTextColor}}"></paper-swatch-picker>
            </div>
            <div>
                Card content background color:
                <paper-swatch-picker color="{{styles.cardContentBackgroundColor}}"></paper-swatch-picker>
            </div>
            <div>
                Toolbar background color:
                <paper-swatch-picker color="{{styles.toolbarBackgroundColor}}"></paper-swatch-picker>
            </div>
        </template>
        <template is="dom-if" if="[[_isEqual(version, '2')]]">
            <my-singleton property="styles" value="{{styles}}"></my-singleton>
            <div class="grid">
                <div>
                    <paper-input label="Primary color" value="{{styles.primaryColor}}"></paper-input>
                    <paper-swatch-picker color="{{styles.primaryColor}}"></paper-swatch-picker>
                    <paper-button on-click="randomPrimaryColor">Random!</paper-button>
                </div>
                <div>
                    <paper-input label="Secondary color" value="{{styles.secondaryColor}}"></paper-input>
                    <paper-swatch-picker color="{{styles.secondaryColor}}"></paper-swatch-picker>
                    <paper-button on-click="randomPrimaryColor">Random!</paper-button>
                </div>
                <!-- Card -->
                <paper-dropdown-menu label="Card ratio" selected-item-label="{{cardRatio}}">
                    <paper-listbox slot="dropdown-content">
                        <paper-item>1:1</paper-item>
                        <paper-item>3:2</paper-item>
                        <paper-item>4:3</paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>
                <!-- End card -->
            </div>
        </template>
    </template>
    <script>
        class SettingsStyle extends HelperMixin(Polymer.Element) {
            static get is() {
                return 'settings-style';
            }

            static get properties() {
                return {
                    styles: {
                        type: Object
                    },
                    version: {
                        type: String,
                        value: "1"
                    }
                }
            }

            static get observers() {
                return [
                    '_stylesChanged(styles.*)'
                ]
            }

            ready() {
                super.ready();
                // this.styles = this.styles || {};
            }

            _stylesChanged(change) {
                // Check if there's information in the change
                let styles = change.base;

                if(styles) {
                    // Check if it's an empty object
                    if(Object.keys(styles).length) {
                        // Forward the event
                        this.dispatchEvent(new CustomEvent('stylesChangedEvent', {
                            bubbles: true,
                            composed: true,
                            detail: change
                        }));
                    }
                }
            }

            _camelToHyphen(str) {
                return str.replace(/([a-zA-Z])(?=[A-Z])/g, '$1-').toLowerCase();
            }

            randomPrimaryColor() {
                let items = document.createElement("paper-swatch-picker").defaultColors();
                var color = items[Math.floor(Math.random()*items.length)];
                this.set("styles.primaryColor", color);
            }
        }

        window.customElements.define(SettingsStyle.is, SettingsStyle);
    </script>
</dom-module>
