<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="settings-color">
    <template>
        Primary Color: <paper-swatch-picker color="{{primaryColor}}"></paper-swatch-picker>
    </template>
    <script>
        class SettingsColor extends Polymer.Element {
            static get is() {
                return 'settings-color';
            }

            static get properties() {
                return {
                    primaryColor: {
                        type: String,
                        value: '#2196f3'
                    }
                }
            }
        }
        window.customElements.define(SettingsColor.is, SettingsColor);
    </script>
</dom-module>
