<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="app-data.html">
<link rel="import" href="../../lib/map-property/map-property.html">
<link rel="import" href="../../bower_components/paper-swatch-picker/paper-swatch-picker.html">

<dom-module id="settings-color">
    <template>
        <app-data data="{{data}}"></app-data>
        <map-property source="{{data.configuration.primaryColor}}" target="{{primaryColor}}"></map-property>
        <map-property source="{{data.configuration.secondaryColor}}" target="{{secondaryColor}}"></map-property>
        <map-property source="{{data.configuration.colorThree}}" target="{{colorThree}}"></map-property>
        <map-property source="{{data.configuration.colorFour}}" target="{{colorFour}}"></map-property>
        <div>
            Primary Color:
            <paper-swatch-picker color="{{primaryColor}}"></paper-swatch-picker>
        </div>
        <div>
            Secondary Color:
            <paper-swatch-picker color="{{secondaryColor}}"></paper-swatch-picker>
        </div>
        <div>
            Color #3:
            <paper-swatch-picker color="{{colorThree}}"></paper-swatch-picker>
        </div>
        <div>
            Color #4:
            <paper-swatch-picker color="{{colorFour}}"></paper-swatch-picker>
        </div>
    </template>
    <script>
        class SettingsColor extends Polymer.Element {
            static get is() {
                return 'settings-color';
            }

            static get properties() {
                return {
                    primaryColor: {
                        type: String,
                        value: '#2196f3',
                        observer: '_primaryColorChanged'
                    },
                    secondaryColor: {
                        type: String,
                        value: '#2196f3',
                        observer: '_secondaryColorChanged'
                    },
                    colorThree: {
                        type: String,
                        value: '#2196f3',
                    },
                    colorFour: {
                        type: String,
                        value: '#2196f3',
                    },
                    style: {
                        type: Object,
                        computed: '_computeStyle(primaryColor, secondaryColor, colorThree, colorFour)'
                    }
                }
            }

            _computeStyle(primaryColor, secondaryColor, colorThree, colorFour) {
                let style = {};
                style['--color-primary'] = primaryColor;
                style['--color-secondary'] = secondaryColor;
                style['--color-three'] = colorThree;
                style['--cclor-four'] = colorFour;
                this.dispatchEvent(new CustomEvent('styleChanged', {bubbles: true, composed: true, detail: style}));
            }

            _primaryColorChanged(color) {
                let style = {};
                style['--color-primary'] = color;
                this.dispatchEvent(new CustomEvent('styleChanged', {bubbles: true, composed: true, detail: style}));
            }

            _secondaryColorChanged(color) {
                let style = {};
                style['--color-secondary'] = color;
                this.dispatchEvent(new CustomEvent('styleChanged', {bubbles: true, composed: true, detail: style}));
            }
        }
        window.customElements.define(SettingsColor.is, SettingsColor);
    </script>
</dom-module>
