<link rel="import" href="x-element.html">

<link rel="import" href="../../bower_components/google-apis/google-maps-api.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="app-style.html">


<dom-module id="x-address">
    <template>
        <style include="app-style">
            :host {
                @apply(--layout-vertical);
                @apply(--layout-flex);
            }
        </style>
        <google-maps-api id="map-api" api-key="AIzaSyCBAWWZHNX-gLrnIweoezSmpIjLEN7antk" version="3.exp" on-api-load="mapApiLoaded"></google-maps-api>

        <paper-card id="locate" heading="Address">
            <paper-input id="autocomplete" placeholder="Enter your address" type="text" class="form-control">
                <iron-icon icon="room" slot="suffix" on-click="locate"></iron-icon>
            </paper-input>
        </paper-card>
    </template>

    <script>
        class XAddress extends XElement {
            static get is() {
                return 'x-address';
            }

            static get properties() {
                return {
                    scope: {
                        type: Object,
                        reflectToAttribute: true
                    },
                    city: {
                        type: String
                    },
                    state: {
                        type: String
                    }
                }
            }

            ready(){
                super.ready();

                console.log(this.scope);
            }

            connectedCallback() {
                super.connectedCallback();
            }

            locate() {
                console.log(this.scope);
                console.log(this.parentElement);

                var location = this.scope.shadowRoot.querySelector("x-location");
                console.log(location);
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        console.log(position);

                        location.latitude = position.coords.latitude;
                        location.longitude = position.coords.longitude;
                    }, function () {
                        handleLocationError(true, infoWindow, locate.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, locate.getCenter());
                }
            }

            mapApiLoaded() {
                console.log(this.scope);
                var autocomplete = new google.maps.places.Autocomplete(this.$.autocomplete);
                var location = this.scope.shadowRoot.querySelector("x-location");

                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var place = autocomplete.getPlace();

                    for (var i = 0; i < place.address_components.length; i++) {
                        if (place.address_components[i].types[0] == 'locality') {
                            var city = place.address_components[i].long_name;
                            location.city = place.address_components[i].long_name;
                        }
                        if (place.address_components[i].types[0] == 'administrative_area_level_1') {
                            var state = place.address_components[i].long_name;
                            location.state = place.address_components[i].long_name;
                        }
                    }

                    alert(city + ", " + state);
                });
            }
        }

        window.customElements.define(XAddress.is, XAddress);
    </script>
</dom-module>
