<link rel="import" href="x-element.html">

<link rel="import" href="../../bower_components/google-apis/google-maps-api.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="app-style.html">


<dom-module id="x-address">
    <template>
        <style include="app-style">
            :host {
                @apply(--layout-vertical);
                @apply(--layout-flex);
            }
        </style>
        <google-maps-api id="map-api" api-key="AIzaSyCBAWWZHNX-gLrnIweoezSmpIjLEN7antk" version="3.exp" on-api-load="mapApiLoaded"></google-maps-api>

        <paper-card heading="Address">
            <!--<paper-input id="autocomplete" placeholder="[[city]], [[state]]" type="text" class="form-control">-->
            <paper-input id="address" placeholder="[[scope.location.city]], [[scope.location.state]]" type="text" class="form-control">
            <iron-icon icon="room" slot="suffix" on-click="locate"></iron-icon>
            </paper-input>
        </paper-card>
    </template>

    <script>
        class XAddress extends Polymer.MutableData(Polymer.Element) {
            static get is() {
                return 'x-address';
            }

            static get properties() {
                return {
                    scope: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    city: {
                        type: String
                    },
                    state: {
                        type: String
                    }
                }
            }

            ready() {
                super.ready();

                this.city = this.scope.location.city;
                this.state = this.scope.location.state;
            }

            _autocomplete() {
                var location = this.scope.location;
                var address = this.$.address;

                var autocomplete = new google.maps.places.Autocomplete(this.$.address);

                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var result = autocomplete.getPlace();

                    location.latitude = result.geometry.location.lat;
                    location.longitude = result.geometry.location.lng;

                    console.log(result);

                    for (var i = 0; i < result.address_components.length; i++) {
                        if (result.address_components[i].types[0] == 'locality') {
                            location.city = result.address_components[i].long_name;
                            var city = result.address_components[i].long_name;
                            this.set('location.city', city);
                        }
                        if (result.address_components[i].types[0] == 'locality') {
                            location.city = result.address_components[i].long_name;
                            var city = result.address_components[i].long_name;
                            this.set('location.city', city);
                        }
                        if (result.address_components[i].types[0] == 'administrative_area_level_1') {
                            location.state = result.address_components[i].long_name;
                        }
                    }
                    address.value = location.city + ", " + location.state;
                });
            }

            locate() {
                var location = this.scope.location;
                var address = this.$.address;

                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        location.latitude = position.coords.latitude;
                        location.longitude = position.coords.longitude;

                        var geocoder = new google.maps.Geocoder();
                        var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                        geocoder.geocode({'latLng': geolocate}, function(results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                var result;
                                if (results.length > 1) {
                                    result = results[1];
                                } else {
                                    result = results[0];
                                }

                                for (var i = 0; i < result.address_components.length; i++) {
                                    if (result.address_components[i].types[0] == 'locality') {
                                        var city = result.address_components[i].long_name;
                                        location.city = result.address_components[i].long_name;
                                    }
                                    if (result.address_components[i].types[0] == 'administrative_area_level_1') {
                                        location.state = result.address_components[i].long_name;
                                    }
                                }

                                address.value = location.city + ", " + location.state;
                            }
                        });
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

            setCity(result) {
                for (var i = 0; i < result.address_components.length; i++) {
                    if (result.address_components[i].types[0] == 'locality') {
                        location.city = result.address_components[i].long_name;
                    }
                }
            }

            mapApiLoaded() {
                this._autocomplete();
            }
        }

        window.customElements.define(XAddress.is, XAddress);
    </script>
</dom-module>
