<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="anoblet/global-styles.html">

<dom-module id="x-block">
    <template>
        <style include="global-styles">
            :host {
            }
        </style>
        <slot></slot>
    </template>

    <script>
        class XBlock extends Polymer.Element {
            static get is() {
                return 'x-block';
            }
        }

        window.customElements.define(XBlock.is, XBlock);
    </script>
</dom-module>
