<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="anoblet/flex-styles.html">

<link rel="import" href="anoblet/my-styles.html">

<dom-module id="x-content">
    <template>
        <style include="flex-styles my-styles"></style>
        <slot></slot>
    </template>

    <script>
        class XContent extends Polymer.MutableData(Polymer.Element) {
            static get is() {
                return 'x-content';
            }

            static get properties() {
                return {
                    scope: {
                        type: Object,
                        notify: true
                    },
                    data: {
                        type: Object
                    }
                };
            }
        }

        window.customElements.define(XContent.is, XContent);
    </script>
</dom-module>
