<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="app-style.html">

<dom-module id="x-demographic">
    <template>
        <style include="app-style">
            :host {
                @apply(--flex);
                @apply(--flex-wrap);
            }
        </style>
        12345<br><br>
    </template>
    <script>
        class XDemographic extends Polymer.Element {
            static get is() {
                return 'x-demographic';
            }

            static get properties() {
                return {
                    row: {
                        type: Boolean,
                        value: false
                    },
                    column: {
                        type: Boolean,
                        value: false
                    }
                }
            }
        }

        window.customElements.define(XDemographic.is, XDemographic);
    </script>
</dom-module>
