<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="x-element.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="my-style.html">

<dom-module id="x-demographics">
    <template>
        <style include="my-style">
            :host {
                @apply(--layout-vertical);
                @apply(--layout-flex);
            }
        </style>
    </template>
    <script>
        class XDemographics extends Polymer.MutableData(XElement) {
            static get is() {
                return 'x-demographics';
            }

            static get properties() {
                return {
                    app: {
                        type: Object
                    },
                    scope: {
                        type: Object,
                        notify: true
                    },
                    state: {
                        type: Object,
                        notify: true
                    }
                }
            }
        }

        window.customElements.define(XDemographics.is, XDemographics);
    </script>
</dom-module>
