<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="x-element">
    <script>
        class XElement extends Polymer.MutableData(Polymer.Element) {
            static get is() {
                return 'x-element';
            }

            static get properties() {
                return {
                    scope: {
                        type: Object,
                        notify: true
                    },
                    isReady: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            constructor() {
                super();
                console.log("Construct");
            }

            ready() {
                super.ready();
                console.log("Ready");
            }

            connectedCallback() {
                super.connectedCallback();
                console.log("Connected");
            }
        }

        window.customElements.define(XElement.is, XElement);
    </script>
</dom-module>
