<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="x-location">
    <script>
        class XLocation extends Polymer.Element {
            static get is() {
                return 'x-location';
            }

            static get properties() {
                return {
                    scope: {
                        type: Object,
                        reflectToAttribute: true
                    },
                    latitude: {
                        type: Number,
                        notify: true,
                        reflectToAttribute: true,
                        value: "Latitude"
                    },
                    longitude: {
                        type: Number,
                        notify: true,
                        reflectToAttribute: true,
                        value: "Longitude"
                    },
                    city: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        value: "City"
                    },
                    county: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        value: "County"
                    },
                    state: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        value: "State"
                    }
                }
            }
        }

        window.customElements.define(XLocation.is, XLocation);
    </script>
</dom-module>
