<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">


<dom-module id="x-location">
    <template>
        <app-localstorage-document key="city" data="{{scope.location.city}}"></app-localstorage-document>
        <app-localstorage-document key="state" data="{{scope.location.state}}"></app-localstorage-document>
    </template>
    <script>
        class XLocation extends Polymer.MutableData(Polymer.Element) {
            static get is() {
                return 'x-location';
            }

            static get properties() {
                return {
                    scope: {
                        type: Object,
                        notify: true
                    },
                    latitude: {
                        type: Number,
                        notify: true,
                        reflectToAttribute: true,
                        value: "Latitude"
                    },
                    longitude: {
                        type: Number,
                        notify: true,
                        reflectToAttribute: true,
                        value: "Longitude"
                    },
                    city: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        value: "City"
                    },
                    county: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        value: "County"
                    },
                    state: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        value: "State"
                    }
                }
            }

            ready() {
                super.ready();

                //this.set('city', this.city);
                //this.scope.notifyPath('scope.location.city');
                //this.scope.notifyPath('scope');
            }
        }

        window.customElements.define(XLocation.is, XLocation);
    </script>
</dom-module>
