<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="x-element.html">

<link rel="import" href="../../bower_components/google-apis/google-maps-api.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">

<link rel="import" href="app-style.html">

<dom-module id="x-locate">
    <template>
        <style include="app-style">
            :host {
                @apply(--layout-vertical);
                @apply(--layout-flex);
            }
        </style>

        <google-maps-api id="map-api" api-key="AIzaSyCBAWWZHNX-gLrnIweoezSmpIjLEN7antk" version="3.exp" on-api-load="mapApiLoaded"></google-maps-api>

        <paper-input id="locate" placeholder="[[state.user.location.city]], [[state.user.location.state]]" type="text" class="form-control">
            <iron-icon icon="room" slot="suffix" on-click="locate"></iron-icon>
        </paper-input>
    </template>

    <script>
        class XLocate extends Polymer.MutableData(XElement) {
            static get is() {
                return 'x-locate';
            }

            static get properties() {
                return {
                    app: {
                        type: Object,
                        notify: true
                    },
                    scope: {
                        type: Object,
                        notify: true
                    },
                    state: {
                        type: Object,
                        notify: true
                    }
                }
            }

            _autocomplete() {
                var locate = this.$.locate;
                var t = this;
                var autocomplete = new google.maps.places.Autocomplete(locate);

                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var result = autocomplete.getPlace();
                    t.setLocation(result);
                });
            }

            locate() {
                var scope = this.scope;
                var location = this.scope.location;
                var locate = this;

                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var geocoder = new google.maps.Geocoder();
                        var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                        geocoder.geocode({'latLng': geolocate}, function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                var result;
                                if (results.length > 1) {
                                    result = results[1];
                                } else {
                                    result = results[0];
                                }

                                locate.setLocation(result);
                            }
                        });
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

            setLocation(result) {
                var scope = this.scope;
                var location = this.scope.location;

                var latitude = result.geometry.location.lat();
                var longitude = result.geometry.location.lng();

                for (var i = 0; i < result.address_components.length; i++) {
                    if (result.address_components[i].types[0] == 'locality') {
                        var city = result.address_components[i].long_name;
                    }

                    if (result.address_components[i].types[0] == 'administrative_area_level_1') {
                        var state = result.address_components[i].long_name;
                    }
                }

                //this.scope.set('location.city', city);
                //this.scope.location.set('state', state);
                //this.set('scope.location.city', city);
                //this.set('scope.location.state', state);
                //this.set('scope.location.latitude', latitude);
                //this.set('scope.location.longitude', longitude);

                /*
                this.set('state.user.location.city', city);
                this.set('state.user.location.state', state);
                this.set('state.user.location.latitude', latitude);
                this.set('state.user.location.longitude', longitude);
                */

                var location = {
                    city: city,
                    state: state,
                    latitude: latitude,
                    longitude: longitude
                };

                this.dispatchEvent(new CustomEvent('locationChanged', {detail: location, bubbles: true, composed: true}));
                App.notifyPath('data');
                this.set('app.state.location.state', state);
                // this.app.notifyPath('state');

                this.scope.notifyPath('state');
            }

            mapApiLoaded() {
                this._autocomplete();
            }
        }

        window.customElements.define(XLocate.is, XLocate);
    </script>
</dom-module>
