<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="./app-style.html">

<dom-module id="x-sitemap">
    <template>
        <style include="app-style">
            :host {
                @apply(--layout-horizontal);
                @apply(--layout-flex);
            }
            #sitemap {
                @apply(--layout-vertical);
                @apply(--layout-flex);
            }
        </style>
        <paper-card id="sitemap" heading="Address">
            <ul>
                <li>
                    <a href="/page">Page</a>
                </li>
                <li>
                    <a href="/address">Address</a>
                </li>
            </ul>
        </paper-card>
    </template>

    <script>
        class XSitemap extends Polymer.Element {
            static get is() {
                return 'x-sitemap';
            }
        }

        window.customElements.define(XSitemap.is, XSitemap);
    </script>
</dom-module>
