<link rel="import" href="x-element.html">

<dom-module id="x-state">
    <script>
        (function () {

            let data = {};

            class XState extends Polymer.MutableData(XElement) {
                static get is() {
                    return 'x-state';
                }

                static get properties() {
                    return {
                        data: {
                            type: Object,
                        }
                    }
                }

                ready() {
                    super.ready();
                    this.data = data;
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.data = data;
                }
            }
            window.customElements.define(XState.is, XState);
        }());
    </script>
</dom-module>
