<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="x-style">
    <template>
        <style>
            :host {
                --app-drawer-content-container: {
                    @apply(--layout-horizontal);
                    @apply(--layout-center);
                    box-sizing: border-box;
                    background: #ddd;
                    margin: 0;
                };

                --paper-card: {
                    margin: 1rem;
                    padding: 1rem 2rem 1rem 2rem;
                };

                --paper-card-header: {
                    @apply(--layout-horizontal);
                    @apply(--layout-center);
                    padding: 1rem 1rem 0 1rem;
                    <!--border-bottom: 1px solid var(--google-grey-300);-->
                };

                --paper-card-header-text: {
                    padding: 0;
                    font-size: 18px;
                    color: var(--google-blue-700);
                };

                --paper-card-content: {
                    padding: 2rem 2rem 1rem 2rem;
                };

                --paper-card-actions: {
                    @apply(--layout-horizontal);
                    @apply(--layout-center);
                    margin-top: 1rem;
                    padding: 1rem 1rem 0 1rem;
                };

                --paper-button: {
                    background-color: var(--google-blue-500);
                    color: #fff;
                }
            }

            .card-header {
                padding: 1rem;
                font-weight: bold;
                border-bottom: 1px solid #e8e8e8;
            }

            .text-center {
                text-align: center;
            }
        </style>
    </template>
    <script>
        class XStyle extends Polymer.Element {
            static get is() {
                return 'x-style';
            }
        }
        window.customElements.define(XStyle.is, XStyle);
    </script>
</dom-module>
