<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="x-statistics">
    <template>

    </template>
    <script>
        class XStatistics extends Polymer.MutableData(Polymer.Element) {
            static get is() {
                return 'x-statistics';
            }

            static get properties() {
                return {
                    state: {
                        type: Object,
                        notify: true
                    }
                }
            }
        }

        window.customElements.define(XStatistics.is, XStatistics);
    </script>
</dom-module>
