<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="test-b.html">

<dom-module id="test-a">
    <template>
        <style></style>
        1[[data.location.city]]1
        <!-- [[app.data.location.city]] -->
        <test-b data="[[data]]"></test-b>
    </template>
    <script>
        (function () {
            let data = {
                test: "test"
            };

            class TestA extends Polymer.MutableData(Polymer.Element) {
                static get is() {
                    return 'test-a';
                }

                static get properties() {
                    return {
                        app: {
                            type: Object,
                            value: () => {
                                return App
                            }
                        },
                        data: {
                            type: Object,
                        }
                    }
                }

                connectedCallback() {
                    super.connectedCallback();

                    // this.data = data;
                }
            }

            window.customElements.define(TestA.is, TestA);
        })();
    </script>
</dom-module>