<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="my-singleton">
    <script>
        (function () {
            let instance;
            let subscribers = [];
            let data = {};
            let isRoot = false

            class MySingleton extends Polymer.Element {
                static get is() {
                    return 'my-singleton';
                }

                static get properties() {
                    return {
                        subscribers: {
                            type: Array,
                            value: subscribers
                        },
                        data: {
                            type: Object,
                            value: data,
                            notify: true
                        },
                        isRoot: {
                            type: Boolean,
                            value: isRoot
                        },
                        key: {
                            type: String
                        },
                        value: {
                            notify: true
                        }
                    }
                }

                static get observers() {
                    return [
                        'dataChanged(data.*)',
                        '_valueChanged(value.*)'
                    ]
                }

                constructor() {
                    super();
                    if(!instance) instance = this;
                }

                dataChanged(change) {
                    if (!isRoot) {
                        isRoot = true;
                        if (instance.subscribers) {
                            instance.subscribers.forEach(e => {
                                // e.set(change.path, change.value);
                                e.notifyPath(change.path);
                            });
                        }
                        isRoot = false;
                    }
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.data = instance.data;
                    instance.subscribers.push(this);
                }

                disconnectedCallback() {
                    super.disconnectedCallback();
                    var index = instance.subscribers.indexOf(this);
                    if (index > -1) instance.subscribers.splice(index, 1)
                }

                _valueChanged(change) {
                    this.data[this.key] = this.value;
                    if (instance.subscribers) {
                        instance.subscribers.forEach(e => {
                            // e.set(change.path, change.value);
                            e.notifyPath(change.path);
                        });
                    }
                }
            }

            window.customElements.define(MySingleton.is, MySingleton);
        })();
    </script>
</dom-module>