<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="my-singleton">
    <script>
        /**
         * `my-singleton`
         *
         * Currently limited to objects
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        (function () {
            let data = {};
            let instance;
            let subscribers = {};
            let isRoot = true;

            class MySingleton extends Polymer.Element {
                static get is() {
                    return 'my-singleton';
                }

                static get properties() {
                    return {
                        init: {
                            type: Boolean,
                            value: false
                        },
                        property: {
                            type: String
                        },
                        subscribers: {
                            type: Array,
                            value: subscribers
                        },
                        value: {
                            type: Object,
                            notify: true
                        }
                    };
                }

                static get observers() {
                    return [
                        '_valueChanged(value.*)'
                    ]
                }

                connectedCallback() {
                    super.connectedCallback();
                    if(this.value) {
                        data[this.property] = this.value;
                    }
                    this.set("value", data[this.property])
                    this.init = true;
                    subscribers[this.property] = subscribers[this.property] || [];
                    subscribers[this.property].push(this);
                }

                disconnectedCallback() {
                    super.disconnectedCallback();
                    var index = subscribers[this.property].indexOf(this);
                    if(index > -1) subscribers[this.property].splice(index, 1)
                }

                _valueChanged(change) {
                    if(this.init) {
                        // Is this the first instance firing?
                        if(isRoot) {
                            isRoot = false;
                            data[this.property] = change.base;
                            if(subscribers[this.property]) {
                                subscribers[this.property].forEach(e => {
                                    if(e !== this){
                                        e.set(change.path, change.value);
                                    }
                                });
                            }
                            isRoot = true;
                        }
                        else {
                            console.log("Stopping the bubbling of updates.");
                        }
                    }
                    else {
                        console.log("No need to update on first run.");
                    }
                }

                _updateSubscribers() {

                }
            }

            window.customElements.define(MySingleton.is, MySingleton);
        })();
    </script>
</dom-module>
