<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="flex-styles">
    <template>
        <style>
            :host {
                --flex: {
                    display: flex;
                };

                --flex-grow: {
                    flex-grow: 1;
                }
            }

            :host([flex]) {
                @apply(--flex);
            }

            :host([grow]) {
                flex-grow: 1;
            }

            :host([flex][auto]) {
                flex: auto;
            }

            :host([grow-disabled]) {
                flex-grow: 0;
            }

            :host([shrink-disabled]) {
                flex-shrink: 0;
            }

            :host([v-align-center]) {
                align-items: center;
            }

            :host([grid]) {

            }
        </style>
    </template>
    <script>
        class FlexStyles extends Polymer.Element {
            static get is() {
                return 'flex-styles';
            }

            static get properties() {
                return {}
            }
        }

        window.customElements.define(FlexStyles.is, FlexStyles);
    </script>
</dom-module>