<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="global-styles">
    <template>
        <style include="app-style">
            :host {
                /* @apply(--flex); */
                /* @apply(--flex-grow); */

                --primary: #2196f3;
            }

            :host([flex]) {
                display: flex;
            }

            :host([flex][grow]) {
                flex-grow: 1;
            }

            :host([v-align-center]) {
                align-items: center;
            }

            :host([grid]) {

            }

            :host([scroll]) {
                overflow: auto;
            }

            :host([no-height]) {
                height: 0;
            }

            :host([text-center]) {
                text-align: center;
            }

            :host([flex][align-items-center]) {
                align-items: center;
            }

            :host([flex][justify-content-center]) {
                justify-content: center;
            }

            :host([justify-content-flex-end]) {
                justify-content: flex-end;
            }

            :host([justify-content-space-around]) {
                justify-content: space-around;
            }
        </style>
    </template>
    <script>
        class GlobalStyles extends Polymer.Element {
            static get is() {
                return 'global-styles';
            }
        }

        window.customElements.define(GlobalStyles.is, GlobalStyles);
    </script>
</dom-module>