<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../x-block.html">

<link rel="import" href="my-styles.html">
<link rel="import" href="global-styles.html">

<dom-module id="my-footer">
    <template>
        <style include="app-style my-styles global-styles">
            :host {
                @apply(--flex);
                @apply(--flex-grow);
                background: var(--primary);

                --paper-icon-button: {
                    color: #fff;
                }
            }
        </style>
        <x-block flex justify-content-center text-center>&copy; Copyright Andrew Noblet</x-block>
    </template>

    <script>
        class MyFooter extends Polymer.Element {
            static get is() {
                return 'my-footer';
            }
        }

        window.customElements.define(MyFooter.is, MyFooter);
    </script>
</dom-module>
