<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../x-locate.html">

<link rel="import" href="global-styles.html">
<link rel="import" href="my-styles.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="my-header">
    <template>
        <style include="app-style global-styles my-styles">
            :host {
                @apply(--flex);
                @apply(--flex-grow);
                background: #2196f3;
                padding: 1rem;
                color: #fff;

                --paper-icon-button: {
                    color: #fff;
                };

                --paper-input-container: {
                    color: #fff;
                };

                --paper-input-container-color: #fff;

                --paper-input-container-input: {
                    color: #fff;
                };

                --paper-input-container-label: {
                    display: none;
                };

                --paper-input-container-label-floating: {
                    display: none;
                }
            }

            a {
                color: #fff;
            }
        </style>
        <x-grid>
            <x-grid-row>
                <x-grid-column>
                    <x-grid-column grow-disabled v-align-center>
                        <paper-icon-button icon="menu" on-click="toggleDrawer"></paper-icon-button>
                    </x-grid-column>
                    <x-grid-column grow-disabled v-align-center>
                        <span style="width: max-content">
                            <a href="/">[[title]]</a>
                        </span>
                    </x-grid-column>
                </x-grid-column>
                <x-grid-column v-align-center>
                    <x-locate app="{{scope}}" v-align-center></x-locate>
                </x-grid-column>
                <x-grid-column justify-content-flex-end v-align-center>
                    <x-grid-column></x-grid-column>
                    <x-grid-column></x-grid-column>
                    <x-grid-column>
                        <paper-icon-button icon="icons:account-circle"></paper-icon-button>
                    </x-grid-column>
                </x-grid-column>
            </x-grid-row>
        </x-grid>
    </template>

    <script>
        class MyHeader extends Polymer.Element {
            static get is() {
                return 'my-header';
            }

            static get properties() {
                return {
                    title: {
                        type: String,
                        value: "My Government"
                    }
                }
            }

            toggleDrawer() {
                console.log('Here');
                this.dispatchEvent(new CustomEvent('toggleDrawer', {bubbles: true, composed: true}));
            }
        }

        window.customElements.define(MyHeader.is, MyHeader);
    </script>
</dom-module>
