<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<!-- <link rel="import" href="layout/layout-layout.html"> --><!-- <link rel="import" href="layout/layout-style.html"> -->

<link rel="import" href="../app-style.html">
<link rel="import" href="my-styles.html">

<link rel="import" href="my-header.html">
<link rel="import" href="my-drawer.html">
<link rel="import" href="my-footer.html">

<link rel="import" href="../x-content.html">

<link rel="import" href="../x-grid/x-grid.html">

<dom-module id="my-layout">
    <template>
        <style include="app-style my-styles">
            :host {
                @apply(--flex);
                @apply(--flex-grow);
            }
        </style>
        <x-grid>
            <x-grid-row>
                <my-header v-align-center></my-header>
            </x-grid-row>
            <x-grid-row grow no-height>
                <x-grid-column grow-disabled>
                    <my-drawer id="drawer" data="[[data]]" hidden></my-drawer>
                </x-grid-column>
                <x-grid-column scroll>
                    <x-content data="[[data]]" flex grow scroll>
                        <slot></slot>
                    </x-content>
                </x-grid-column>
            </x-grid-row>
            <x-grid-row>
                <my-footer flex justify-content-center></my-footer>
            </x-grid-row>
        </x-grid>
    </template>
    <script>
        class MyLayout extends Polymer.MutableData(Polymer.Element) {
            static get is() {
                return 'my-layout';
            }

            static get properties() {
                return {
                    app: {
                        type: Object,
                        value: function() {
                            return App;
                        }
                    },
                    scope: {
                        type: Object,
                        notify: true
                    },
                    data: {
                        type: Object,
                    }
                }
            }

            connectedCallback() {
                this.addEventListener('toggleDrawer', function (e) {
                    this.$.drawer.toggle();
                });
            }
        }

        window.customElements.define(MyLayout.is, MyLayout);
    </script>
</dom-module>