<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="app-index">
    <template>
        <style>
            :host {
            }
        </style>
    </template>
    <script>
        class AppIndex extends Polymer.Element {
            static get is() {
                return 'app-index';
            }

            static get properties() {
                return {}
            }

            static get observers() {
                return []
            }
        }
        window.customElements.define(AppIndex.is, AppIndex);
    </script>
</dom-module>
