<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/my-paypal/my-paypal.html">

<dom-module id="view-main">
    <template>
        <style include="global-styles app-styles">
            :host {
                @apply --flex;
                @apply --flex-grow;
                padding: 1rem;
            }
            main {
/*
                @apply --flex;
*/
                @apply --flex-grow;
                flex-direction: column;
            }
        </style>
        <main class="grid">
            <slot></slot>
            <div class="grid grid-3">
                <div>&nbsp;</div>
                <my-card ratio="16:9">
                    <div class="card-content center">
                        <my-paypal></my-paypal>
                    </div>
                </my-card>
                <div>&nbsp;</div>
            </div>
        </main>
    </template>
    <script>
        class ViewMain extends Polymer.Element {
            static get is() {
                return 'view-main';
            }

            static get properties() {
                return {}
            }

            static get observers() {
                return []
            }
        }

        window.customElements.define(ViewMain.is, ViewMain);
    </script>
</dom-module>
