<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../styles/global-styles.html">
<link rel="import" href="../../styles/flex-styles.html">
<link rel="import" href="../styles/app-styles.html">

<link rel="import" href="../../components/address-lookup/address-lookup.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../lib/map-property/map-property.html">
<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../components/HelperMixin.html">

<dom-module id="view-header">
    <template>
        <style include="app-styles"></style>
        <!--<app-toolbar>Test</app-toolbar>-->
        <template is="dom-if" if="[[_isEqual(version, 1)]]">
            <div class="grid">
                <div class="item v-align-center">
                    <paper-icon-button icon="menu" on-click="toggleDrawer"></paper-icon-button>
                    <!-- <a href="/" no-underline>[[title]]</a> -->
                </div>

                <div id="search" class="item center">
                    <!-- <address-lookup v-align-center></address-lookup> -->
                    <a href="/" no-underline>[[title]]</a>
                </div>
                <div class="item v-align-center justify-end">
                    <!-- <paper-icon-button icon="icons:account-circle"></paper-icon-button> -->
                    <paper-icon-button icon="icons:search"></paper-icon-button>
                </div>
            </div>
        </template>
        <template is="dom-if" if="[[_isEqual(version, 2)]]">
            <app-header slot="header" fixed condenses effects="waterfall">
                <app-toolbar>
                    <div class="grid">
                        <paper-icon-button icon="menu" on-click="toggleDrawer"></paper-icon-button>
                        <div id="center" class="center">
                            <a href="/">
                                <div main-title>[[title]]</div>
                            </a>
                        </div>
                        <div></div>
                    </div>
                </app-toolbar>
            </app-header>
        </template>
        <template is="dom-if" if="[[_isEqual(version, 3)]]">
            <style>
                :host {
                    display: block;
                    width: 100%;
                    background: var(--primary-color);
                    color: #fff;
                }

                .grid {
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(5, 1fr);
                }

                #center {
                    grid-column: span 3;
                }

                #center a {
                    color: #fff;
                }
            </style>
            <div class="grid full center">
                <paper-icon-button icon="menu" on-click="toggleDrawer"></paper-icon-button>
                <div id="center" class="center">
                    <a href="/">
                        <div main-title>[[title]]</div>
                    </a>
                </div>
                <div></div>
            </div>
        </template>
    </template>

    <script>
        class ViewHeader extends HelperMixin(Polymer.Element) {
            static get is() {
                return 'view-header';
            }

            static get properties() {
                return {
                    title: {
                        type: String,
                        value: "My Government"
                    },
                    menu: {
                        type: Object
                    },
                    version: {
                        type: Number,
                        value: 1
                    }
                }
            }

            static get observers() {
                return [
                    "_menuChanged(menu)"
                ]
            }

            toggleDrawer() {
                this.dispatchEvent(new CustomEvent('toggleDrawer', {bubbles: true, composed: true}));
            }

            _menuChanged(menu) {
                console.log(menu);
                if(menu == "0") {
                    this.$.menu.style.order = "0";
                } else {
                    this.$.menu.style.order = "1";
                }
            }
        }

        window.customElements.define(ViewHeader.is, ViewHeader);
    </script>
</dom-module>
