<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="./pages/page-home.html">
<link rel="import" href="./pages/page-country.html">
<!--<link rel="import" href="./pages/page-county.html">-->
<link rel="import" href="./pages/page-settings.html">
<link rel="import" href="./pages/page-state.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../bower_components/my-paypal/my-paypal.html">

<dom-module id="view-main">
    <template>
        <style include="global-styles app-styles">
            :host {
                width: 100%;
                padding: 1rem;
            }

            .grid[rows="3"] {
                grid-template-rows: repeat(3, 1fr);
            }
        </style>
        <main class="grid">
            <!--
            <slot></slot>
            -->
            <iron-pages selected="[[routeData.view]]" attr-for-selected="page-name">
                <page-home page-name=""></page-home>
                <page-country page-name="country"></page-country>
                <!--<page-county page-name="county"></page-county>-->
                <page-settings page-name="settings"></page-settings>
                <page-state page-name="state" route="{{subroute}}"></page-state>
            </iron-pages>
            <my-card>
                <div class="card-content center">
                    <my-paypal></my-paypal>
                </div>
            </my-card>
            </div>
        </main>
    </template>
    <script>
        class ViewMain extends Polymer.Element {
            static get is() {
                return 'view-main';
            }

            static get properties() {
                return {}
            }
        }

        window.customElements.define(ViewMain.is, ViewMain);
    </script>
</dom-module>
