<script>
    (function () {
        let root = false;
        let elements = [];
        let data = {/*
            city: "Port Chester",
            state: "New York"
        */};

        LocationMixin = function (superClass) {
            return class extends superClass {
                static get properties() {
                    return {
                        elements: {
                            type: Array,
                            value: elements
                        },
                        data: {
                            type: Object,
                            value: data,
                            notify: true
                        },
                        location: {
                            type: Object,
                            value: data,
                            notify: true
                        }

                    }
                }

                static get observers() {
                    return [
                        'dataChanged(data.*)',
                        'locationChanged(location.*)'
                    ]
                }

                dataChanged(change) {
                    if (!root) {
                        console.log('Data changed');
                        console.log(change);
                        root = true;
                        this.elements.forEach(e => {
                            e.notifyPath(change.path);
                        });
                        root = false;
                    }
                }

                /*
                    @return void
                 */
                locationChanged(change) {
                    this.dataChanged(change);
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.elements.push(this);
                }

                disconnectedCallback() {
                    super.disconnectedCallback();
                    var i = this.elements.indexOf(this);
                    if (i > -1) this.elements.splice(i, 1)                }
            }
        }
    })();

</script>