<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/iron-location/iron-location.html">

<link rel="import" href="../global-styles.html">

<link rel="import" href="../my-layout.html">
<!-- <link rel="import" href="my-location.html"> -->
<!-- <link rel="import" href="../v.1.1.1/user-location.html"> -->

<link rel="import" href="../v.1.1.1/LocationMixin.html">
<link rel="import" href="../v.1.1.1/my-location.html">
<link rel="import" href="../../../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<!-- <link rel="import" href="my-config.html"> -->
<!-- <link rel="import" href="../test/test-a.html"> -->


<dom-module id="my-app">
    <template>
        <style include="global-styles">
            :host {
                @apply(--flex);
                @apply(--flex-grow);
            }
        </style>
        <my-config></my-config>
        <my-location id="location" data="{{data.location}}"></my-location>
        <iron-location path="{{__path}}"></iron-location>
        <!-- <test-a data="[[data]]"></test-a> -->
        <my-layout data="{{data}}"></my-layout>
        <!-- <user-location></user-location> -->
        <!--
        [[city]]
        [[user.test]]t
        [[location.city]]
        -->
        <script>//document.write(JSON.stringify(this));</script>
        <my-location location="{{location}}"></my-location>
        <app-localstorage-document key="location" data="{{location}}"></app-localstorage-document>
    </template>
    <script>
        (function () {
            let data = {};
            let model = {};

            window.App = {};

            class MyApp extends LocationMixin(Polymer.MutableData(Polymer.Element)) {
                static get is() {
                    return 'my-app';
                }

                static get properties() {
                    return {
                        /*
                        app: {
                            type: Object,
                            value: function() {
                                return App;
                            }
                        },
                        */
                        data: {
                            type: Object,
                            value: {
                                config: {
                                    routes: [
                                        {
                                            href: "",
                                            title: "Home",
                                            src: "components/app-home.html",
                                            tag: "app-home"
                                        },
                                        {
                                            href: "city",
                                            title: "City",
                                            src: "components/app-city.html",
                                            tag: "app-city"
                                        },
                                        {
                                            href: "state",
                                            title: "State",
                                            src: "components/app-state.html",
                                            tag: "app-state"
                                        },
                                        {
                                            href: "login",
                                            title: "Login",
                                            src: "components/app-login.html",
                                            tag: "app-login"
                                        },
                                        {
                                            href: "register",
                                            title: "Register",
                                            src: "components/app-register.html",
                                            tag: "app-register"
                                        },
                                        {
                                            href: "page",
                                            title: "Home",
                                            src: "components/app-page.html",
                                            tag: "app-page"
                                        },
                                        {
                                            href: "map",
                                            title: "Home",
                                            src: "components/app-map.html",
                                            tag: "app-map"
                                        },
                                        {
                                            href: "sitemap",
                                            title: "Home",
                                            src: "components/x-sitemap.html",
                                            tag: "x-sitemap"
                                        },
                                        {
                                            href: "address",
                                            title: "Home",
                                            src: "components/x-address.html",
                                            tag: "x-address"
                                        }
                                    ]
                                }
                            },
                            notify: true
                        },
                        model: {
                            type: Object
                        },
                        dependants: {
                            type: Array,
                            value: []
                        },
                        city: {
                            type: String,
                        }
                    }
                }

                static get observers() {
                    return [
                        // '__dataChanged(data.*)',
                        '__pathChanged(__path)'
                    ]
                }

                __dataChanged(data) {
                    console.log('Data changed');
                    console.log(data);
                    var e = this.shadowRoot.querySelector('test-a');
                    if (e) {
                        // e.set('app', App);
                        e.set('data', this.data);
                    }
                    var l = this.shadowRoot.querySelector('my-layout');
                    var e;
                    if (l) {
                        e = l.querySelector('*');
                    }
                    // console.log(e);
                    var _t = this;
                    if (this.dependants) {
                        for (var i = 0; i < this.dependants.length; i++) {
                            // _t.dependants[i].set('data', this.data);
                            _t.dependants[i].notifyPath('data');
                        }
                    }
                }

                __pathChanged(__path) {
                    var _t = this;
                    var routes = this.data.config.routes;

                    __path = __path.slice(1);

                    for (var i = 0; i < routes.length; i++) {
                        if (__path == routes[i].href) {
                            var route = routes[i];
                        }
                    }

                    Polymer.importHref(this.resolveUrl("/src/" + route.src), function (e) {
                        var e = document.createElement(route.tag);
                        var l = _t.shadowRoot.querySelector('my-layout');
                        var e2;
                        if (l) {
                            var e2 = l.appendChild(e);
                            _t.dependants.push(e2);
                            e2.set('data', _t.data);
                        }
                    });
                }

                /*
                ready() {
                    super.ready();

                    // App = this;
                }
                */

                connectedCallback() {
                    super.connectedCallback();

                    // this.config = this.shadowRoot.querySelector('my-config').data;
                    // this.set('city', this.shadowRoot.querySelector('user-location').city);
                    // console.log(instance);

                    // this.location = this.shadowRoot.querySelector('my-location').data;
                    // this.data.location = this.shadowRoot.querySelector('my-location').data;

                    window.App = this;

                    // var e = document.createElement('test-a');
                    // var a = this.shadowRoot.appendChild(e);
                    // this.dependants.push(a);
                    // a.set('data', this.data);
                    // console.log(a.data);
                    // console.log(this.data);
                }
            }

            window.customElements.define(MyApp.is, MyApp);
        })();
    </script>
</dom-module>