<script>
    (function () {
        let elements = [];
        let data = {};

        UserMixin = function (superClass) {
            return class extends superClass {
                static get properties() {
                    return {
                        user: {
                            type: Object,
                            notify: true,
                            value: data
                        },
                        elements: {
                            type: Array,
                            value: elements
                        }
                    }
                }

                static get observers() {
                    return [
                        'userDataChanged(user.*)'
                    ]
                }

                userDataChanged(change) {
                    console.log('f');
                    this.notifyPath('user');
                    console.log(this.elements);
                    this.elements.forEach(e => {
                        e.notifyPath(change.path);
                    });
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.elements.push(this);
                }
            }
        }
    })();

</script>