<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="my-location.html">
<!-- <link rel="import" href="LocationMixin.html"> -->

<dom-module id="x-census">
    <template>
        <style></style>
        <my-location location="{{location}}"></my-location>
        [[location.city]]
    </template>

    <script>
        class XCensus extends Polymer.MutableData(Polymer.Element) {
            static get is() {
                return 'x-census';
            }

            static get properties() {
                return {
                    data: {
                        type: Object,
                    },
                    stateCodes: {
                        type: Array,
                        value: [
                            {
                                shortName: "NJ",
                                longName: "New Jersey",
                                code: 34
                            },
                            {
                                shortName: "",
                                longName: "New York",
                                code: 36
                            }
                        ]
                    }
                }
            }

            static get observers() {
                return [
                    // 'locationChanged(location.*)'
                ]
            }


            locationChanged(change) {
                console.log("L");
            }

        }

        window.customElements.define(XCensus.is, XCensus);
    </script>
</dom-module>