<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!--
<link rel="import" href="../../bower_components/social-links/social-link.html">
-->

<dom-module id="app-footer">
    <template>
        <style include="">
            :host {
                @apply(--flex);
                @apply(--flex-grow);
                justify-content: center;
                color: #fff;
                padding: 1rem;
            }
        </style>
        <footer>
            &copy Andrew Noblet
            <social-link network="github" href="https://github.com/anoblet"></social-link>
        </footer>
    </template>
    <script>
        class AppFooter extends Polymer.Element {
            static get is() {
                return 'app-footer';
            }

            static get properties() {
                return {}
            }

            static get observers() {
                return []
            }
        }

        window.customElements.define(AppFooter.is, AppFooter);
    </script>
</dom-module>
