<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="chart-map-country">
    <template>
        <google-chart-responsive type="geo" options="[[options]]" data="[[chartData]]"></google-chart-responsive>
    </template>
    <script>
        class ChartMapCountry extends Polymer.Element {
            static get is() {
                return 'chart-map-country';
            }

            static get properties() {
                return {
                    country: {
                        type: String,
                        observer: "_countryChanged"
                    },
                    options: {
                        type: Object,
                        value: function () {
                            return {
                                region: "US",
                                resolution: "provinces"
                            }
                        }
                    },
                    chartData: {
                        type: Array
                    }
                }
            }

            _countryChanged(country) {
                let chartData = [];
                chartData.push(["country"]);
                chartData.push([country]);
                this.chartData = chartData;
            }
        }

        window.customElements.define(ChartMapCountry.is, ChartMapCountry);
    </script>
</dom-module>
