<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../components/google-chart-responsive/google-chart-responsive.html">
<link rel="import" href="../../../components/fact-finder/fact-finder-population.html">

<dom-module id="chart-bar-population-country">
    <template>
        <fact-finder-population data-array="{{dataArray}}"></fact-finder-population>
        <google-chart-responsive type="column" data="[[dataArray]]" ratio-16-9></google-chart-responsive>
    </template>
    <script>
        class ChartBarPopulationCountry extends Polymer.Element {
            static get is() {
                return 'chart-bar-population-country';
            }

            static get properties() {
                return {}
            }
        }
        window.customElements.define(ChartBarPopulationCountry.is, ChartBarPopulationCountry);
    </script>
</dom-module>
