<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="chart-text-population-country">
    <template>
    </template>
    <script>
        class ChartText extends Polymer.Element {
            static get is() {
                return 'chart-text-population-country';
            }

            static get properties() {
                return {}
            }
        }
        window.customElements.define(ChartText.is, ChartText);
    </script>
</dom-module>
