<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../components/fact-finder/fact-finder-population-country.html">

<dom-module id="chart-text-population-country">
    <template>
        <fact-finder-population-country data="{{data}}"></fact-finder-population-country>
        <!--
        <google-chart-responsive type="column" data="[[data]]" ratio-16-9></google-chart-responsive>
        -->
        [[data]]
    </template>
    <script>
        class ChartText extends Polymer.Element {
            static get is() {
                return 'chart-text-population-country';
            }

            static get properties() {
                return {}
            }
        }
        window.customElements.define(ChartText.is, ChartText);
    </script>
</dom-module>
