<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../components/fact-finder/fact-finder-country-gender.html">
<link rel="import" href="../../../components/google-chart-responsive/google-chart-responsive.html">

<dom-module id="chart-bar-gender">
    <template>
        <style>
            :host {
                width: 100%;
            }
        </style>
        <fact-finder-country-gender data="{{data}}"></fact-finder-country-gender>
        <google-chart-responsive type="bar" options="[[options]]" data="[[chartData]]"></google-chart-responsive>
    </template>
    <script>
        class ChartBar extends Polymer.Element {
            static get is() {
                return 'chart-bar-gender';
            }

            static get properties() {
                return {
                    chartData: {
                        type: Array,
                        computed: '_computeChartData(data)'
                    },
                    options: {
                        type: Object,
                        value: {
                            // bars: 'horizontal',
                            isStacked: "percent",
                            stacked: true,
                            // hAxis: {format: 'percentage'}
                        }
                    }
                }
            }

            _computeChartData(data) {
                data = data[0];
                console.log(data);
                let chartData = [];

                chartData.push(["Age", "Male", "Female"]);
                chartData.push(["Under 5 years", data[2][1], data[26][1]]);
                chartData.push(["5 to 9 years", data[3][1], data[27][1]]);
                chartData.push(["10 to 14 years", data[4][1], data[28][1]]);
                chartData.push(["15 to 17 years", data[5][1], data[29][1]]);
                chartData.push(["18 to 19 years", data[6][1], data[30][1]]);
                chartData.push(["20 years", data[7][1], data[31][1]]);
                chartData.push(["21 years", data[8][1], data[32][1]]);
                chartData.push(["22 to 24 years", data[9][1], data[33][1]]);
                chartData.push(["25 to 29 years", data[10][1], data[34][1]]);
                chartData.push(["30 to 34 years", data[11][1], data[35][1]]);
                chartData.push(["35 to 39 years", data[12][1], data[36][1]]);
                chartData.push(["40 to 44 years", data[13][1], data[37][1]]);
                chartData.push(["45 to 49 years", data[14][1], data[38][1]]);
                chartData.push(["50 to 54 years", data[15][1], data[39][1]]);
                chartData.push(["55 to 59 years", data[16][1], data[40][1]]);
                chartData.push(["60 to 61 years", data[17][1], data[41][1]]);
                chartData.push(["62 to 64 years", data[18][1], data[42][1]]);
                chartData.push(["65 to 66 years", data[19][1], data[43][1]]);
                chartData.push(["67 to 69 years", data[20][1], data[44][1]]);
                chartData.push(["70 to 74 years", data[21][1], data[45][1]]);
                chartData.push(["75 to 79 years", data[22][1], data[46][1]]);
                chartData.push(["80 to 84 years", data[23][1], data[47][1]]);
                chartData.push(["85 years and over", data[24][1], data[48][1]]);

                console.log(chartData);

                return chartData;
            }
        }
        window.customElements.define(ChartBar.is, ChartBar);
    </script>
</dom-module>
